.navigation {
    border-bottom: 1px solid #ccc;
    
}
.navigation ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
}
.navigation ul li{
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #ccc;
}
.navigation ul li:first-child{
    border-left: 1px solid #ccc;
}
.navigation ul li a{
    display: block;
    padding: 5px 0;
    width: 100%;
    text-decoration: none;
    color: #3b3939;
}
.navigation ul li a:hover{
    background-color:#e71f7d;
    border-bottom: 0 solid #e71f7d;
}
.navigation ul li.current{
    font-weight: bold;
}
.navigation ul li.current {
    border-bottom: 5px solid #e71f7d;
    color: #e71f7d;
}

/*index.html*/


#main {
    display:flex;
    
}

#content {
    order:2;
    width: 100%;
}


.main_img{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 550px;
}

.list-title h3 {
background: linear-gradient(transparent 70%, #e71f7d 70%);

}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: groove 3px #333;
    border-radius: 10px;
    font-family: serif;
    font-weight: bold;
}

#submenu {
    width: 165px;
    order: 1;
    margin-top: 10px;

}

.subcontents {
    margin: 0 0 10px 0;
    border: solid 5px #e71f7d; 
}

.subcontents h3 {
    margin: 0;
    padding: 6px;
    background-color: #e71f7d;
}
  
.subcontents-lists{
    margin: 12px;
    padding: 0;
    list-style: none;
}  