body {
    margin: 0;
    padding: 0;
}

/*index.html*/


#main {
    display: flex;
    background-color: rgb(214, 211, 211);
}

#submenu {
    order: 1;
    width: 25%;
}

#content {
    order:2;
    width: 50%;
}

#topic {
    order: 3;
    width: 25%;
}


.main_img{
    display: block;
    margin: 200px 0 60px 0;
    width: 100%;
    
}

.ex-list {
    font-size: 19px;
}

h3 {
    padding: 1em;
    border-bottom: #e71f7d solid 5px;
    margin-top: 165px;
    padding-top: 165px;
  }

h3:first-letter {
    color: #e71f7d;
  }

table {
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    
}

th,td {
    border: solid 2px #272626;
    font-family: 'メイリオ';
    font-weight: bold;
}

.monster_img {
    width: 70px;
    height: 70px;

}

.ex9_bottom {
    padding-bottom: 60px;
    margin-bottom: 60px;
}

/*weapon.html*/
.weapon_mainimg {
    display: block;
    margin: 200px 0 60px 0;
    width: 100%;
}

.weaponbar {
    background-color: rgb(201, 133, 8);
}

.weapon_img {
    width: 40%;
    height: 40%;

}

.weaponhue_img {
    width: 60%;
    height: 60%;
}

.weaponyumi_img {
    width: 60%;
    height: 60%;
}

.hueicon_img {
    float: left;
}

.wrap label {
    display: block;
    padding: 8px;
    background: rgb(230, 185, 102);
    cursor: pointer;
}

.wrap input[type='checkbox'] {
    display: none;
}

.wrap .G {
    height: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.switch:checked + .G {
    height: auto;
    padding: 8px;
    background: rgb(228, 241, 245);
}

.bin {
    background-color: rgb(230, 185, 102);
}

.yumibar {
    background-color: rgb(201, 133, 8);
}

.weaponraito_img {
    width: 60%;
    height: 60%;
}

.raitobar {
    background-color: rgb(201, 133, 8);
}

.weaponhebii_img {
    width: 60%;
    height: 60%;
}

.form_line {
    border-bottom: solid 5px black ;
}

/*kyouka.html*/

.last_bottom {
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.kyouka_img {
    display: block;
    margin: 200px 0 60px 0;
    width: 100%;
}

/*sousyoku.html*/

.sousyoku_img{
    display: block;
    margin: 200px 0 60px 0;
    width: 100%;
}

/*post_detail*/
.deteil_position {
    margin: 0 0 550px 0;
    
}

.syosai {
    margin-left: 10px;
    top:5px; 
    bottom: 0;


}

/*form.html*/
.toukou {
    padding: 1rem 2rem;
    border-left: 5px solid #000;
    background: rgb(197, 236, 243);
    margin-top: 210px;
    margin-left: 0;
    color: black;
}


/*header*/

.site-header {
    position: fixed;
    top: 0;
    z-index:1000;
    width: 100%;
    padding: 4px 0 0 0;
    
    
}   

.header_img {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    padding: 0;
    z-index:-1;
}
.header-main {
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 50px 0 10px 15px;
    font-size: 30px;
    color: white;
    margin-left: 0;

}

.header-sub {
    list-style: none;
    display: flex;
    width: 100%;
    background-color: rgb(197, 236, 243);
    
}

.gnavi__wrap {
    margin: auto;
    max-width: 1150px;
    height: 60px;
    padding :0;
}


.gnavi__lists {
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    
}
.gnavi__list {
    background-color: rgb(197, 236, 243);
    transition: all .3s;
    list-style:none;
    width: 230px;
    display: grid;
    place-items: center;
}

.gnavi__list:hover {
    background-color: #0071BB;
}
.gnavi__list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all .3s;
}
.gnavi__list:hover::before {
    background-color: #3584bb;
}
.gnavi__list a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
    justify-content: center;
    align-items: center;
}
.gnavi__list:hover a {
    color: #fff;
}

.dropdown__lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 223px;
    position: absolute;
    list-style:none;
}
.gnavi__list:hover .dropdown__lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
    top: 168px; /*ドロップダウンメニューの高さ*/
    margin: 0;
    padding: 0;

}
.dropdown__list {
    background-color: #a0d4fa;
    height: 60px;
    transition: all .3s;
    position: relative;

}
.dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #3584bb;
    position: absolute;
    top: 0;
    left: 0;
}
.dropdown__list:hover {
    background-color: #3584bb;
}
.dropdown__list a {
    display: flex;
    justify-content: center;
    color: #1b4059;
    text-decoration: none;
    position: relative;
   
}
.dropdown__list a::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top:26px;
}

.hamburger-menu {
    display: none;
}


@media screen and (max-width: 1160px) {
    .gnavi__wrap {
        display: none;
}

#submenu {
    order: 1;
    width: 15%;
}

#content {
    order:2;
    width: 70%;
}

#topic {
    order: 3;
    width: 15%;
}




.hamburger-menu {
    display: block;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
    bottom: 0;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}


#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 49%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;
}
#menu-btn-check:checked ~ .menu-content {
    left: 70%;/*メニューを画面内へ*/
}
.menu-list{
    padding: 70px 0 0 10px;
    margin-bottom: 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 10px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}


}

.menu-list-list {
    margin: 0 0 0 30px;
}