{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>MHSB ～傀異探究～</title>
</head>
<body>
    <div class='header'>
        <nav class="navigation">
            <ul class='navbar'>
                <li class='current'>MHSB ～傀異探究～</li>
                    <li><a href='' class='hl'>傀異モンスター一覧</a></li>
                    <li><a href='' class='hl'>武  器</a></li>
                    <li><a href='' class='hl'>傀異錬成報告</a></li>
                    <li><a href='' class='hl'>投  稿</a></li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
    </footer>    
    
</body>
</html>