{% extends 'mhsb/base.html' %}
{% load static %}
{% block content %}

<main role='main' id='main'>
<article id='content'>
    <img src="{% static "mhsb_images/sousyoku_img.jpg" %}" alt="装飾品画像" class="sousyoku_img">
    <table class='sousyoku_list'>
        <tr>
            <td><a href='#sr1'>スロット１</a></td><td><a href='#sr2'>スロット２</a></td><td><a href='#sr3'>スロット３</a></td><td><a href='#sr4'>スロット４</a></td>
        </tr>
    </table>

    <h3 id='sr1'>スロット１</h3>
    <table>
        <tr>
            <th width='20%'>装飾品名</th><th>スキル名</th><th>必要素材</th>
        </tr>
        <tr>
            <td>火炎珠</td><td>火属性攻撃強化Lv1</td><td>水光原珠 2個<br>雌火竜の上鱗 2個<br>爆炎袋 1個</td>
        </tr>
        <tr>
            <td>流水珠</td><td>水属性攻撃強化Lv1</td><td>水光原珠 2個<br>泥魚竜の堅殻 2個<br>大水袋 1個</td>
        </tr>
        <tr>
            <td>氷結珠</td><td>氷属性攻撃強化Lv1</td><td>水光原珠 2個<br>白兎獣の剛毛 2個<br>眠狗竜の尖爪 2個</td>
        </tr>
        <tr>
            <td>雷光珠</td><td>雷属性攻撃強化Lv1</td><td>水光原珠 2個<br>真珠色の柔皮 2個<br>電撃袋 1個</td>
        </tr>
        <tr>
            <td>破龍珠</td><td>龍属性攻撃強化Lv1</td><td>水光原珠 2個<br>雌火竜の堅殻 2個<br>いにしえの龍骨 1個</td>
        </tr>
        <tr>
            <td>耐火珠</td><td>火耐性Lv1</td><td>水光原珠 1個<br>傘鳥の上鱗 2個</td>
        </tr>
        <tr>
            <td>耐水珠</td><td>水耐性Lv1</td><td>水光原珠 1個<br>河童蛙の上皮 2個</td>
        </tr>
        <tr>
            <td>耐氷珠</td><td>氷耐性Lv1</td><td>水光原珠 1個<br>白兎獣の凍爪 2個</td>
        </tr>
        <tr>
            <td>耐雷珠</td><td>雷耐性Lv1</td><td>水光原珠 1個<br>真珠色の柔皮 2個</td>
        </tr>
        <tr>
            <td>耐龍珠</td><td>龍耐性Lv1</td><td>水光原珠 1個<br>尖竜骨 2個<br>欠けた龍骨 2個</td>
        </tr>
        <tr>
            <td>耐毒珠</td><td>毒耐性Lv1</td><td>水光原珠 1個<br>毒狗竜の上皮 2個<br>フロギィの上鱗 2個</td>
        </tr>
        <tr>
            <td>耐麻珠</td><td>麻痺耐性Lv1</td><td>水光原珠 1個<br>飛甲虫の堅殻 3個<br>飛甲虫の麻痺針 1個</td>
        </tr>
        <tr>
            <td>耐眠珠</td><td>睡眠耐性Lv1</td><td>水光原珠 1個<br>眠狗竜の上皮 2個<br>バギィの上鱗 2個</td>
        </tr>
        <tr>
            <td>耐爆珠</td><td>爆破やられ耐性Lv1</td><td>水光原珠 1個<br>爆炎袋 2個<br>狸獣の引火液 2個</td>
        </tr>
        <tr>
            <td>耐絶珠</td><td>気絶耐性Lv1</td><td>修羅原珠 2個<br>妃蜘蛛の堅殻 2個<br>泥翁竜の堅殻 2個</td>
        </tr>
        <tr>
            <td>防御珠</td><td>防御Lv1</td><td>水光原珠 2個<br>岩竜の堅殻 2個<br>土砂竜の堅甲 1個</td>
        </tr>
        <tr>
            <td>滑走珠</td><td>滑走強化Lv1</td><td>水光原珠 1個<br>白兎獣の堅腹甲 1個<br>海綿質の上皮 1個</td>
        </tr>
        <tr>
            <td>壁翔珠</td><td>壁面移動【翔】Lv1</td><td>金剛原珠 3個<br>千刃竜の閃裂爪 2個<br>冥淵龍の堕翼爪 1個</td>
        </tr>
        <tr>
            <td>研磨珠</td><td>砥石使用高速化Lv1</td><td>水光原珠 2個<br>火竜の鋭翼爪 2個<br>鎌鼬竜の上刃尾 1個</td>
        </tr>
        <tr>
            <td>鼓笛珠</td><td>笛吹き名人Lv1</td><td>水光原珠 1個<br>毒妖鳥の大喉袋 1個</td>
        </tr>
        <tr>
            <td>植学珠</td><td>植生学Lv1</td><td>水光原珠 1個<br>鎌鼬竜の上毛 2個</td>
        </tr>
        <tr>
            <td>節食珠</td><td>満足感Lv1</td><td>水光原珠 1個<br>怪しげな鋭牙 2個<br>掻鳥の大クチバシ 1個</td>
        </tr>
        <tr>
            <td>早填珠</td><td>装填速度Lv1</td><td>修羅原珠 3個<br>怨虎竜の上鱗 2個<br>角竜の堅殻 2個<br>天狗獣の剛毛 1個</td>
        </tr>
        <tr>
            <td>早復珠</td><td>回復速度Lv1</td><td>水光原珠 2個<br>泥魚竜の上ヒレ 2個</td>
        </tr>
        <tr>
            <td>耐衝珠</td><td>ひるみ軽減Lv1</td><td>修羅原珠 2個<br>雷狼竜の堅殻 2個<br>泡狐竜の尖爪 2個</td>
        </tr>
        <tr>
            <td>耐絶珠</td><td>気絶耐性Lv1</td><td>修羅原珠 2個<br>妃蜘蛛の堅殻 2個<br>泥翁竜の堅殻 2個</td>
        </tr>
        <tr>
            <td>奪気珠</td><td>スタミナ奪取Lv1</td><td>水光原珠 1個<br>土砂竜の鋭爪 2個</td>
        </tr>
        <tr>
            <td>地学珠</td><td>地質学Lv1</td><td>水光原珠 1個<br>掻鳥の上鱗 2個</td>
        </tr>
        <tr>
            <td>点射珠</td><td>ブレ抑制Lv1</td><td>修羅原珠 1個<br>泡狐竜の上鱗 2個<br>火竜の翼 1個</td>
        </tr>
        <tr>
            <td>泥雪珠</td><td>泥雪耐性Lv1</td><td>水光原珠 1個<br>白兎獣の堅腹甲 2個<br>土砂竜の甲殻 1個</td>
        </tr>
        <tr>
            <td>飛込珠</td><td>飛び込みLv1</td><td>水光原珠 1個<br>ファンゴの上毛皮 2個<br>堅牢な骨 1個</td>
        </tr>
        <tr>
            <td>毒珠</td><td>毒属性強化Lv1</td><td>水光原珠 2個<br>毒妖鳥の上鱗 2個<br>猛毒袋 1個</td>
        </tr>
        <tr>
            <td>爆師珠</td><td>ボマーLv1</td><td>水光原珠 1個<br>爆炎袋 1個<br>怨虎竜の霊結晶 2個</td>
        </tr>
        <tr>
            <td>皮剥珠</td><td>剥ぎ取り鉄人Lv1</td><td>水光原珠 1個<br>河童蛙の苔堅甲 2個</td>
        </tr>
        <tr>
            <td>陽動珠</td><td>陽動Lv1</td><td>水光原珠 1個<br>翼蛇竜の上皮 3個</td>
        </tr>
        <tr>
            <td>緩衝珠</td><td>緩衝Lv1</td><td>水光原珠 1個<br>上竜骨 1個</td>
        </tr>
        <tr>
            <td>防風珠</td><td>風圧耐性Lv1</td><td>修羅原珠 1個<br>岩竜の堅殻 2個<br>河童蛙の苔堅甲 2個</td>
        </tr>
        <tr>
            <td>無食珠</td><td>腹減り耐性Lv1</td><td>水光原珠 1個<br>河童蛙の大嘴 1個</td>
        </tr>
        <tr>
            <td>抑反珠</td><td>反動軽減Lv1</td><td>修羅原珠 2個<br>妃蜘蛛の鋭爪 2個<br>蛮顎竜の大鼻骨 1個</td>
        </tr>
        <tr>
            <td>盤石珠</td><td>顕如盤石Lv1</td><td>明王原珠 2個<br>金火竜の重殻 2個<br>火竜の煌液 1個</td>
        </tr>
        <tr>
            <td>剛心珠</td><td>剛心Lv1</td><td>傀異原珠 3個<br>棘茶竜の剛角 2個<br>傀異化した凶濃血 4個</td>
        </tr>
        <tr>
            <td>供応珠</td><td>供応Lv1</td><td>傀異原珠 2個<br>剛纏獣の重殻 2個<br>傀異化した凶鱗 7個</td>
        </tr>
        <tr>
            <td>激励珠</td><td>激励Lv1</td><td>明王原珠 4個<br>原初の寵鱗 1個<br>爵銀龍の無垢殻 1個</td>
        </tr>
        <tr>
            <td>霞皮珠</td><td>霞皮の恩恵Lv1</td><td>明王原珠 2個<br>霞龍の破傀玉 1個<br>霞龍の特上皮 3個<br>毒妖鳥の特大喉袋 1個</td>
        </tr>
        <tr>
            <td>鋼殻珠</td><td>鋼殻の恩恵Lv1</td><td>明王原珠 2個<br>鋼龍の破傀玉 1個<br>氷牙竜の重棘 2個<br>鋼龍の重殻 3個</td>
        </tr>
        <tr>
            <td>炎鱗珠</td><td>炎鱗の恩恵Lv1</td><td>明王原珠 2個<br>炎王龍の破傀玉 1個<br>熾妃蜘蛛の眩灯腹 2個<br>炎王龍の重殻 3個</td>
        </tr>
    </table>
    <h3 id='sr2'>スロット２</h3>
    <table>
        <tr>
            <th width='20%'>装飾品名</th><th>スキル名</th><th>必要素材</th>
        </tr>
        <tr>
            <td>火炎珠Ⅱ</td><td>火属性攻撃強化Lv2</td><td>瑠璃原珠 6個<br>業炎袋 3個<br>妖輝石 2個</td>
        </tr>
        <tr>
            <td>流水珠Ⅱ</td><td>水属性攻撃強化Lv2</td><td>瑠璃原珠 6個<br>特大水袋 3個<br>苔むした重土骨 4個</td>
        </tr>
        <tr>
            <td>氷結珠Ⅱ</td><td>氷属性攻撃強化Lv2</td><td>瑠璃原珠 6個<br>白兎獣の豪剛毛 2個<br>凍てついた重氷骨 2個</td>
        </tr>
        <tr>
            <td>雷光珠Ⅱ</td><td>雷属性攻撃強化Lv2</td><td>瑠璃原珠 6個<br>雷電袋 3個<br>サファイアン鉱石 4個</td>
        </tr>
        <tr>
            <td>破龍珠Ⅱ</td><td>龍属性攻撃強化Lv2</td><td>瑠璃原珠 6個<br>雌火竜の重殻 2個<br>埋もれた古龍骨骸 1個</td>
        </tr>
        <tr>
            <td>麻痺珠</td><td>麻痺属性強化Lv1</td><td>瑠璃原珠 5個<br>強力麻痺袋 3個<br>黄金色の粘泥土 2個<br>古龍骨 3個</td>
        </tr>
        <tr>
            <td>爆破珠</td><td>爆破属性強化Lv1</td><td>瑠璃原珠 4個<br>爆鱗竜の爆腺 2個<br>爆鱗竜の堅殻 1個<br>怨虎竜の魂結晶 2個</td>
        </tr>
        <tr>
            <td>睡眠珠</td><td>睡眠属性強化Lv1</td><td>瑠璃原珠 5個<br>人魚竜の微睡み粉 4個<br>昏睡袋 2個<br>古龍骨 3個</td>
        </tr>
        <tr>
            <td>攻撃珠</td><td>攻撃Lv1</td><td>修羅原珠 5個<br>金獅子の黒毛 3個<br>雪鬼獣の尖拳爪 3個<br>怨虎竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>達人珠</td><td>見切りLv1</td><td>修羅原珠 4個<br>古龍の血 3個<br>金獅子の黒毛 3個<br>風神龍の碧棘 1個</td>
        </tr>
        <tr>
            <td>痛撃珠</td><td>弱点特効Lv1</td><td>瑠璃原珠 5個<br>妃蜘蛛の鉤棘 3個<br>泥翁竜の尖爪 3個<br>迅竜の延髄 1個</td>
        </tr>
        <tr>
            <td>超心珠</td><td>超会心Lv1</td><td>瑠璃原珠 5個<br>ヌシの轟炎袋 2個<br>怨虎竜の剛兜角 2個<br>泥翁竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>渾身珠</td><td>渾身Lv1</td><td>修羅原珠 5個<br>雷神龍の尖爪 2個<br>雪鬼獣の剛毛 4個<br>雌火竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>連撃珠</td><td>連撃Lv1</td><td>	明王原珠 6個<br>白妙の滑液 2個<br>電竜の剛翼爪 2個</td>
        </tr>
        <tr>
            <td>攻勢珠</td><td>攻勢Lv1</td><td>明王原珠 5個<br>棘茶竜の濃重酸 2個<br>炎王龍の剛角 1個</td>
        </tr>
        <tr>
            <td>逆襲珠</td><td>逆襲Lv1</td><td>修羅原珠 2個<br>火竜の上鱗 3個<br>風神龍の尖角 1個</td>
        </tr>
        <tr>
            <td>逆上珠</td><td>逆恨みLv1</td><td>瑠璃原珠 4個<br>轟竜の尖爪 2個<br>氷牙竜の上毛皮 3個<br>風神龍の堅殻 2個</td>
        </tr>
        <tr>
            <td>挑戦珠</td><td>挑戦者Lv1</td><td>瑠璃原珠 4個<br>蛮顎竜の上鱗 2個<br>泥翁竜の上鱗 3個<br>獣玉 1個</td>
        </tr>
        <tr>
            <td>無傷珠</td><td>フルチャージLv1</td><td>瑠璃原珠 4個<br>ヌシの泡立つ滑液 2個<br>風神龍の尖爪 3個<br>岩竜の涙 1個</td>
        </tr>
        <tr>
            <td>全開珠</td><td>力の解放Lv1</td><td>瑠璃原珠 4個<br>蛮顎竜の上毛皮 3個<br>雷狼竜の尖角 1個<br>竜玉 1個</td>
        </tr>
        <tr>
            <td>窮地珠</td><td>死中に活Lv1</td><td>瑠璃原珠 4個<br>迅竜の上黒毛 3個<br>轟竜の堅殻 2個<br>獣玉 1個</td>
        </tr>
        <tr>
            <td>底力珠</td><td>火事場力Lv1</td><td>修羅原珠 5個<br>金獅子の尻尾 2個<br>上質なねじれた角 2個<br>轟竜の上鱗 2個</td>
        </tr>
        <tr>
            <td>背撃珠</td><td>闇討ちLv1</td><td>傀異原珠 4個<br>月迅竜の透刃翼 2個<br>傀異化した凶鋭牙 2個<br>傀異化した凶翼 2個</td>
        </tr>
        <tr>
            <td>反攻珠</td><td>巧撃Lv1</td><td>傀異原珠 4個<br>焔狐竜の特錦ヒレ 2個<br>白妙の滑液 1個<br>傀異化した凶剛角 4個</td>
        </tr>
        <tr>
            <td>属会珠</td><td>会心撃【属性】Lv1</td><td>修羅原珠 4個<br>古龍の血 2個<br>しゃっこい堅氷塊 2個<br>雷竜の雷極針 1個</td>
        </tr>
        <tr>
            <td>属撃珠</td><td>弱点特効【属性】Lv1</td><td>傀異原珠 4個<br>火竜の煌液 2個<br>傀異化した凶浄血 4個</td>
        </tr>
        <tr>
            <td>溜幅珠</td><td>チャージマスターLv1</td><td>明王原珠 5個<br>凝縮された爆腺液 2個<br>剛纏獣の重鍬尾 1個</td>
        </tr>
        <tr>
            <td>転福珠</td><td>災禍転福Lv1</td><td>傀異原珠 5個<br>黒蝕竜の重殻 2個<br>天廻龍の厚鱗 2個<br>傀異化した凶角 7個</td>
        </tr>
        <tr>
            <td>跳躍珠</td><td>回避距離UPLv1</td><td>修羅原珠 2個<br>雷狼竜の高電殻 4個<br>飛雷竜の上鱗 2個</td>
        </tr>
        <tr>
            <td>回避珠</td><td>回避性能Lv1</td><td>修羅原珠 2個<br>氷牙竜の鋭爪 2個<br>飛雷竜の上毛皮 2個<br>火竜の堅殻 1個</td>
        </tr>
        <tr>
            <td>翔蟲珠</td><td>翔蟲使いLv1</td><td>水光原珠 2個<br>天狗獣の上腕羽 2個<br>モンスターの濃汁 2個</td>
        </tr>
        <tr>
            <td>短縮珠</td><td>集中Lv1</td><td>修羅原珠 5個<br>風神龍の風袋 3個<br>怨虎竜の妖刀殻 3個<br>火竜の延髄 2個</td>
        </tr>
        <tr>
            <td>抜打珠</td><td>抜刀術【力】Lv1</td><td>修羅原珠 2個<br>雷狼竜の尖角 1個<br>人魚竜の堅殻 2個<br>雪鬼獣の拳爪 1個</td>
        </tr>
        <tr>
            <td>KO珠</td><td>KO術Lv1</td><td>修羅原珠 1個<br>蛮顎竜の大鼻骨 2個<br>土砂竜の頭殻 1個</td>
        </tr>
        <tr>
            <td>昂揚珠</td><td>強化持続Lv1</td><td>修羅原珠 4個<br>しゃっこい堅氷塊 2個<br>黄金色の粘泥土 2個<br>竜玉 1個</td>
        </tr>
        <tr>
            <td>達芸珠</td><td>達人芸Lv1</td><td>瑠璃原珠 8個<br>獄炎の龍鱗 6個<br>炎王龍のたてがみ 4個<br>雪鬼胆 1個</td>
        </tr>
        <tr>
            <td>剛刃珠</td><td>剛刃研磨Lv1</td><td>瑠璃原珠 4個<br>怨虎竜の妖腕刃 4個<br>迅竜の鋭刃翼 3個<br>鎌鼬竜の上刃尾 1個</td>
        </tr>
        <tr>
            <td>斬鉄珠</td><td>業物Lv1</td><td>瑠璃原珠 5個<br>怨虎竜の妖刀殻 3個<br>金獅子の尖爪 2個<br>火竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>刃鱗珠</td><td>刃鱗磨きLv1</td><td>金剛原珠 3個<br>千刃竜の破刃 3個<br>冥淵龍の昏鉤尾 1個</td>
        </tr>
        <tr>
            <td>節弾珠</td><td>弾丸節約Lv1</td><td>瑠璃原珠 5個<br>金獅子の鋭牙 3個<br>妃蜘蛛の灯腹 2個<br>竜玉 2個</td>
        </tr>
        <tr>
            <td>射法珠</td><td>弾導強化Lv1</td><td>修羅原珠 5個<br>雷神龍の尖爪 2個<br>雷狼竜の尖爪 3個<br>角竜の延髄 1個</td>
        </tr>
        <tr>
            <td>心眼珠</td><td>心眼Lv1</td><td>修羅原珠 5個<br>雪鬼獣の上皮 2個<br>泡狐竜の紫上毛 3個<br>黄金の毛 2個</td>
        </tr>
        <tr>
            <td>重撃珠</td><td>破壊王Lv1</td><td>修羅原珠 1個<br>雷狼竜の尖爪 2個<br>琥珀色の鋭牙 1個<br>角竜の尾甲 1個</td>
        </tr>
        <tr>
            <td>煽衛珠</td><td>煽衛Lv1</td><td>明王原珠 3個<br>冰龍の剛爪 2個<br>焔狐竜の白剛毛 2個</td>
        </tr>
        <tr>
            <td>早食珠</td><td>早食いLv1</td><td>修羅原珠 2個<br>蛮顎竜の鋭牙 2個<br>河童蛙の大嘴 1個</td>
        </tr>
        <tr>
            <td>速納珠</td><td>納刀術Lv1</td><td>修羅原珠 2個<br>迅竜の上黒毛 2個<br>飛雷竜の尖爪 1個<br>天狗獣の尖爪 1個</td>
        </tr>
        <tr>
            <td>速変珠</td><td>高速変形Lv1</td><td>修羅原珠 3個<br>轟竜の尖爪 2個<br>人魚竜の尖鉤爪 1個<br>妃蜘蛛の絹糸 2個</td>
        </tr>
        <tr>
            <td>砲術珠</td><td>砲術Lv1</td><td>修羅原珠 4個<br>怨虎竜の上鱗 4個<br>毒妖鳥の大喉袋 2個<br>河童蛙の大嘴 1個</td>
        </tr>
        <tr>
            <td>増弾珠</td><td>砲弾装填Lv1</td><td>修羅原珠 4個<br>雪鬼獣の尖角 2個<br>天狗獣の堅尾甲 2個<br>獣玉 1個</td>
        </tr>
        <tr>
            <td>鉄壁珠</td><td>ガード性能Lv1</td><td>修羅原珠 4個<br>雷神龍の雷袋 3個<br>泥翁竜の剛毛ヒレ 3個<br>河童蛙の大皿 2個</td>
        </tr>
        <tr>
            <td>強壁珠</td><td>ガード強化Lv1</td><td>修羅原珠 4個<br>雷神龍の堅殻 3個<br>雪鬼獣の堅腕甲 3個<br>岩竜の堅胸殻 2個</td>
        </tr>
        <tr>
            <td>耐震珠</td><td>耐震Lv1</td><td>修羅原珠 2個<br>角竜の堅甲 2個<br>堅牢な巨骨 1個<br>河童蛙の苔堅甲 2個</td>
        </tr>
        <tr>
            <td>体術珠</td><td>体術Lv1</td><td>水光原珠 1個<br>赤甲獣の堅殻 3個<br>ユニオン鉱石 1個</td>
        </tr>
        <tr>
            <td>早気珠</td><td>スタミナ急速回復Lv1</td><td>修羅原珠 4個<br>轟竜の上鱗 3個<br>泥翁竜の長髭 2個<br>高級なトサカ 2個</td>
        </tr>
        <tr>
            <td>強走珠</td><td>ランナーLv1</td><td>修羅原珠 4個<br>雷狼竜の高電毛 3個<br>角竜の堅殻 3個<br>水獣の鋭爪 2個</td>
        </tr>
        <tr>
            <td>耐属珠</td><td>属性やられ耐性Lv1</td><td>修羅原珠 1個<br>凍結袋 1個<br>電撃袋 1個<br>大水袋 1個</td>
        </tr>
        <tr>
            <td>治癒珠</td><td>体力回復量UPLv1</td><td>水光原珠 1個<br>岩竜の堅胸殻 2個<br>いにしえの秘薬 1個</td>
        </tr>
        <tr>
            <td>特射珠</td><td>特殊射撃強化Lv1</td><td>修羅原珠 4個<br>泥翁竜の尖爪 2個<br>人魚竜の怒髪ヒレ 2個<br>泡狐竜の尖爪 2個</td>
        </tr>
        <tr>
            <td>鈍器珠</td><td>鈍器使いLv1</td><td>修羅原珠 4個<br>雪鬼獣の堅腕甲 3個<br>角竜の堅甲 2個<br>金獅子の尻尾 1個</td>
        </tr>
        <tr>
            <td>友愛珠</td><td>広域化Lv1</td><td>修羅原珠 1個<br>泡狐竜の尖爪 1個<br>迅竜の上鱗 2個<br>生命の粉塵 2個</td>
        </tr>
        <tr>
            <td>加護珠</td><td>精霊の加護Lv1</td><td>修羅原珠 4個<br>人魚竜の上鱗 3個<br>泡狐竜の上錦ヒレ 2個<br>竜玉 1個</td>
        </tr>
        <tr>
            <td>壁走珠</td><td>壁面移動Lv1</td><td>水光原珠 2個<br>天狗獣の尖爪 2個<br>上質な腹袋 2個</td>
        </tr>
        <tr>
            <td>泡沫珠</td><td>泡沫の舞Lv1</td><td>修羅原珠 1個<br>泡立つ上滑液 2個<br>大水袋 2個</td>
        </tr>
        <tr>
            <td>防御珠Ⅱ</td><td>防御Lv2</td><td>瑠璃原珠 6個<br>土砂竜の重甲 2個<br>重厚な竜骨 3個</td>
        </tr>
        <tr>
            <td>逆境珠</td><td>不屈Lv1</td><td>水光原珠 1個<br>青熊獣の堅殻 2個</td>
        </tr>
        <tr>
            <td>乗慣珠</td><td>乗り名人Lv1</td><td>水光原珠 1個<br>傘鳥の上羽鱗 2個</td>
        </tr>
        <tr>
            <td>持続珠</td><td>アイテム使用強化Lv1</td><td>水光原珠 1個<br>水獣の上鱗 2個</td>
        </tr>
    </table>
    <h3 id='sr3'>スロット３</h3>
    <table>
        <tr>
            <th width='20%'>装飾品名</th><th>スキル名</th><th>必要素材</th>
        </tr>
        <tr>
            <td>火炎珠Ⅲ</td><td>火属性攻撃強化Lv3</td><td>金剛原珠 4個<br>熾妃蜘蛛の眩灯腹 2個<br>傀異化した皮 7個</td>
        </tr>
        <tr>
            <td>流水珠Ⅲ</td><td>水属性攻撃強化Lv3</td><td>金剛原珠 4個<br>泥魚竜の重殻 2個<br>傀異化した皮 7個</td>
        </tr>
        <tr>
            <td>氷結珠Ⅲ</td><td>氷属性攻撃強化Lv3</td><td>金剛原珠 4個<br>氷人魚竜の凍鱗 2個<br>傀異化した皮 7個</td>
        </tr>
        <tr>
            <td>雷光珠Ⅲ</td><td>雷属性攻撃強化Lv3</td><td>金剛原珠 4個<br>真珠色の艶皮 2個<br>傀異化した骨 7個</td>
        </tr>
        <tr>
            <td>破龍珠Ⅲ</td><td>龍属性攻撃強化Lv3</td><td>金剛原珠 4個<br>黒蝕竜の重殻 2個<br>傀異化した骨 7個</td>
        </tr>
        <tr>
            <td>翻異珠</td><td>状態異常確定蓄積Lv1</td><td>傀異原珠 4個<br>霞龍の破傀玉 1個<br>破傀の龍骨 4個</td>
        </tr>
        <tr>
            <td>血氣珠</td><td>血氣Lv1</td><td>傀異原珠 5個<br>爵銀龍の紅血玉 1個<br>傀異化した凶剛爪 4個<br></td>
        </tr>
        <tr>
            <td>鬼火珠</td><td>鬼火纏Lv1</td><td>瑠璃原珠 5個<br>怨虎竜の魂結晶 3個<br>火竜の上鱗 2個<br>妃蜘蛛の灯腹 2個</td>
        </tr>
        <tr>
            <td>匠珠</td><td>匠Lv1</td><td>瑠璃原珠 8個<br>鋼の上龍鱗 6個<br>鋼龍の尖角 3個<br>怨虎竜の紫玉 1個</td>
        </tr>
        <tr>
            <td>強弾珠</td><td>通常弾・連射矢強化Lv1</td><td>瑠璃原珠 5個<br>上質なねじれた角 2個<br>雪鬼獣の尖角 2個<br>竜玉 2個</td>
        </tr>
        <tr>
            <td>貫通珠</td><td>貫通弾・貫通矢強化Lv1</td><td>瑠璃原珠 5個<br>轟竜の鋭牙 3個<br>金獅子の尖角 1個<br>泡狐竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>散弾珠</td><td>散弾・拡散矢強化Lv1</td><td>瑠璃原珠 5個<br>爆鱗竜の爆腺 3個<br>爆鱗竜の尖爪 2個<br>雷狼竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>合気珠</td><td>合気Lv1</td><td>明王原珠 3個<br>凍てつく狼重牙 2個<br>爵銀龍の剛翼 2個</td>
        </tr>
        <tr>
            <td>茸好珠</td><td>キノコ大好きLv1</td><td>修羅原珠 5個<br>轟竜のアギト 1個<br>蛮顎竜の鋭牙 3個<br>マンドラゴラ 3個</td>
        </tr>
        <tr>
            <td>強跳珠</td><td>ジャンプ鉄人Lv1</td><td>瑠璃原珠 5個<br>爆鱗竜の翼 3個<br>火竜の翼 1個<br>天狗獣の堅頭襟 2個</td>
        </tr>
        <tr>
            <td>研鋭珠</td><td>研磨術【鋭】Lv1</td><td>傀異原珠 4個<br>鎌蟹の剛爪 3個<br>傀異化した凶鱗 7個<br></td>
        </tr>
        <tr>
            <td>巧緻珠</td><td>チューンアップLv1</td><td>明王原珠 5個<br>月迅竜の豪斑毛 4個<br>妃蜘蛛の重殻 1個<br>盾蟹の極小殻 1個</td>
        </tr>
        <tr>
            <td>守勢珠</td><td>攻めの守勢Lv1</td><td>修羅原珠 5個<br>風神龍の上皮 3個<br>赤甲獣の尖爪 3個<br>角竜の延髄 2個</td>
        </tr>
        <tr>
            <td>装填珠</td><td>装填拡張Lv1</td><td>修羅原珠 5個<br>風神龍の風袋 3個<br>迅竜の鋭牙 3個<br>泥魚竜の鋭牙 2個</td>
        </tr>
        <tr>
            <td>速射珠</td><td>速射強化Lv1</td><td>瑠璃原珠 5個<br>雷神龍の尖角 3個<br>雌火竜の上棘 1個<br>蛮顎竜の逆鱗 1個</td>
        </tr>
        <tr>
            <td>抜刀珠</td><td>抜刀術【技】Lv1</td><td>修羅原珠 4個<br>風神龍の尖爪 3個<br>上質なねじれた角 2個<br>琥珀色の鋭牙 1個</td>
        </tr>
        <tr>
            <td>防音珠</td><td>耳栓Lv1</td><td>修羅原珠 4個<br>怨虎竜の堅殻 4個<br>轟竜のアギト 1個<br>白兎獣の大耳 1個</td>
        </tr>
        <tr>
            <td>運気珠</td><td>幸運Lv1</td><td>瑠璃原珠 8個<br>霞龍の上皮 6個<br>霞龍の翼 4個<br>泥翁竜の黄玉 1個</td>
        </tr>
        <tr>
            <td>鉄壁珠Ⅱ</td><td>ガード性能Lv2</td><td>瑠璃原珠 8個<br>泥魚竜の特上ヒレ 2個<br>岩竜の靭尾 1個</td>
        </tr>
        <tr>
            <td>防御珠Ⅲ</td><td>防御Lv3</td><td>金剛原珠 2個<br>重竜骨 3個<br>岩竜の重殻 2個</td>
        </tr>
        <tr>
            <td>友愛珠Ⅲ</td><td>広域化Lv3</td><td>瑠璃原珠 6個<br>青熊獣の重腕甲 2個<br>丸鳥の特上羽 1個</td>
        </tr>
        <tr>
            <td>剛心珠Ⅱ</td><td>剛心Lv2</td><td>傀異原珠 4個<br>棘茶竜の天鱗 1個<br>破傀の龍血 6個</td>
        </tr>
        <tr>
            <td>息吹珠</td><td>疾之息吹Lv1</td><td>金剛原珠 3個<br>棘竜の天鱗 1個</td>
        </tr>
    </table>
    <h3 id='sr4'>スロット４</h3>
    <div class='last_bottom'>
    <table>
        <tr>
            <th width='20%'>装飾品名</th><th>スキル名</th><th>必要素材</th>
        </tr>
        <tr>
            <td>火炎珠Ⅳ</td><td>火属性攻撃強化Lv4</td><td>傀異原珠 4個<br>火竜の天鱗 1個<br>傀異化した厚皮 6個</td>
        </tr>
        <tr>
            <td>流水珠Ⅳ</td><td>水属性攻撃強化Lv4</td><td>傀異原珠 4個<br>泡狐竜の天鱗 1個<br>傀異化した浄濃血 6個</td>
        </tr>
        <tr>
            <td>氷結珠Ⅳ</td><td>氷属性攻撃強化Lv4</td><td>傀異原珠 4個<br>氷狼竜の秘氷玉 1個<br>傀異化した厚鱗 6個</td>
        </tr>
        <tr>
            <td>雷光珠Ⅳ</td><td>雷属性攻撃強化Lv4</td><td>傀異原珠 4個<br>雷狼竜の天玉 1個<br>傀異化した重牙 6個</td>
        </tr>
        <tr>
            <td>破龍珠Ⅳ</td><td>龍属性攻撃強化Lv4</td><td>傀異原珠 4個<br>黒蝕竜の天鱗 1個<br>傀異化した凶堅骨 6個</td>
        </tr>
        <tr>
            <td>耐火珠Ⅲ</td><td>火耐性Lv3</td><td>瑠璃原珠 6個<br>掻鳥の特大飾り羽 1個<br>強竜骨 3個</td>
        </tr>
        <tr>
            <td>耐水珠Ⅲ</td><td>水耐性Lv3</td><td>瑠璃原珠 6個<br>偉大なクチバシ 1個<br>海綿質の厚皮 3個</td>
        </tr>
        <tr>
            <td>耐氷珠Ⅲ</td><td>氷耐性Lv3</td><td>瑠璃原珠 6個<br>偉大なトサカ 1個<br>極上の毛皮 3個</td>
        </tr>
        <tr>
            <td>耐雷珠Ⅲ</td><td>雷耐性Lv3</td><td>瑠璃原珠 6個<br>ランゴスタの斬羽 2個<br>モンスターの特濃 2個</td>
        </tr>
        <tr>
            <td>耐龍珠Ⅲ</td><td>龍耐性Lv3</td><td>瑠璃原珠 6個<br>カンタロスの重殻 2個<br>重厚な竜骨 5個</td>
        </tr>
        <tr>
            <td>耐属珠Ⅱ</td><td>属性やられ耐性Lv2</td><td>金剛原珠 5個<br>怨虎竜の魂魄結晶 2個<br>天廻龍の光虹翼 1個<br>傀異化した血 7個</td>
        </tr>
        <tr>
            <td>耐毒珠Ⅲ</td><td>毒耐性Lv3</td><td>傀異原珠 3個<br>雌火竜の厚鱗 3個<br>傀異化した凶鱗 7個</td>
        </tr>
        <tr>
            <td>耐麻珠Ⅲ</td><td>麻痺耐性Lv3</td><td>傀異原珠 3個<br>真珠色の艶皮 3個<br>傀異化した凶角 7個</td>
        </tr>
        <tr>
            <td>耐眠珠Ⅲ</td><td>睡眠耐性Lv3</td><td>傀異原珠 3個<br>人魚竜の厚鱗 3個<br>傀異化した凶骨 7個</td>
        </tr>
        <tr>
            <td>耐爆珠Ⅲ</td><td>爆破やられ耐性Lv3</td><td>傀異原珠 3個<br>緋天狗獣の豪腕羽 3個<br>傀異化した凶角 7個</td>
        </tr>
        <tr>
            <td>耐絶珠Ⅲ</td><td>気絶耐性Lv3</td><td>瑠璃原珠 8個<br>毒妖鳥の剛翼 3個<br>ケストドンの重殻 2個</td>
        </tr>
        <tr>
            <td>毒珠Ⅲ</td><td>毒属性強化Lv3</td><td>明王原珠 4個<br>月迅竜の重尾棘 2個<br>毒妖鳥の厚鱗 3個</td>
        </tr>
        <tr>
            <td>麻痺珠Ⅱ</td><td>麻痺属性強化Lv2</td><td>明王原珠 4個<br>棘茶竜の重殻 2個<br>超高圧電甲 2個</td>
        </tr>
        <tr>
            <td>睡眠珠Ⅱ</td><td>睡眠属性強化Lv2</td><td>明王原珠 4個<br>棘茶竜の秘棘 2個<br>人魚竜のゆめみ粉 2個</td>
        </tr>
        <tr>
            <td>爆破珠Ⅱ</td><td>爆破属性強化Lv2</td><td>明王原珠 4個<br>棘茶竜の厚鱗 3個<br>爆鱗竜の爆腺束 1個</td>
        </tr>
        <tr>
            <td>攻撃珠Ⅱ</td><td>攻撃Lv2</td><td>傀異原珠 6個<br>奈落の龍神玉 1個<br>破傀の濃龍血 6個</td>
        </tr>
        <tr>
            <td>達人珠Ⅱ</td><td>見切りLv2</td><td>傀異原珠 6個<br>冰龍の零玉 1個<br>破傀の濃龍血 6個</td>
        </tr>
        <tr>
            <td>挑戦珠Ⅱ</td><td>挑戦者Lv2</td><td>明王原珠 5個<br>嵐龍の剛爪 3個<br>雷狼竜の天玉 1個</td>
        </tr>      
        <tr>
            <td>渾身珠Ⅱ</td><td>渾身Lv2</td><td>明王原珠 6個<br>焔狐竜の特錦ヒレ 3個<br>奈落の龍鱗 3個</td>
        </tr>
        <tr>
            <td>攻勢珠Ⅱ</td><td>攻勢Lv2</td><td>傀異原珠 5個<br>棘竜の秘棘 2個<br>傀異化した凶重牙 3個<br>傀異化した凶剛翼 3個</td>
        </tr>
        <tr>
            <td>連撃珠Ⅱ</td><td>連撃Lv2</td><td>傀異原珠 5個<br>電竜の天鱗 1個<br>破傀の堅龍骨 6個</td>
        </tr>
        <tr>
            <td>全開珠Ⅱ</td><td>力の解放Lv2</td><td>明王原珠 5個<br>炎王龍の破傀玉 1個<br>黄金の煌毛 3個<br>古龍の大宝玉 1個</td>
        </tr>
        <tr>
            <td>無傷珠Ⅱ</td><td>フルチャージLv2</td><td>明王原珠 5個<br>鋼龍の破傀玉 1個<br>轟竜の重牙 3個<br>古龍の大宝玉 1個</td>
        </tr>
        <tr>
            <td>窮地珠Ⅱ</td><td>死中に活Lv2</td><td>明王原珠 5個<br>金火竜の厚鱗 3個<br>轟竜の重殻 2個</td>
        </tr>
        <tr>
            <td>逆襲珠Ⅱ</td><td>逆襲Lv2</td><td>明王原珠 6個<br>金火竜の秘棘 2個<br>雌火竜の天鱗 1個</td>
        </tr>
        <tr>
            <td>逆上珠Ⅱ</td><td>逆恨みLv2</td><td>明王原珠 5個<br>冰龍の冠角 2個<br>冥淵龍の穿淵爪 2個<br>熾妃蜘蛛の重鉤棘 1個</td>
        </tr>
        <tr>
            <td>底力珠Ⅱ</td><td>火事場力Lv2</td><td>傀異原珠 5個<br>黄金の煌毛 3個<br>破傀の龍骨 6個</td>
        </tr>
        <tr>
            <td>血氣珠Ⅱ</td><td>血氣Lv2</td><td>明王原珠 6個<br>ラージャンハート 1個<br>爵銀龍の麗牙 1個</td>
        </tr>
        <tr>
            <td>龍気珠</td><td>龍気活性Lv1</td><td>明王原珠 5個<br>天彗龍極の破傀玉 1個<br>風神龍の暴風袋 2個</td>
        </tr>
        <tr>
            <td>狂蝕珠</td><td>狂竜症【蝕】Lv1</td><td>明王原珠 5個<br>天廻龍の破傀玉 1個<br>赫赫の撃槍翼 3個</td>
        </tr>
        <tr>
            <td>転福珠Ⅱ</td><td>災禍転福Lv2</td><td>明王原珠 5個<br>霞龍の破傀玉 1個<br>黒蝕竜の暗黒翼 2個<br>天廻龍の剛角 1個</td>
        </tr>
        <tr>
            <td>匠珠Ⅱ</td><td>匠Lv2</td><td>傀異原珠 5個<br>鋼龍の剛爪 3個<br>傀異化した凶爪 6個</td>
        </tr>
        <tr>
            <td>溜幅珠Ⅱ</td><td>チャージマスターLv2</td><td>傀異原珠 3個<br>棘茶竜の重殻 3個<br>傀異化した凶血 3個<br>傀異化した凶翼膜 3個</td>
        </tr>
        <tr>
            <td>属会珠Ⅱ</td><td>会心撃【属性】Lv</td><td>明王原珠 4個<br>古龍の浄血 2個<br>大竜玉 1個</td>
        </tr>
        <tr>
            <td>属撃珠Ⅱ</td><td>弱点特効【属性】Lv2</td><td>明王原珠 6個<br>天彗龍極の破傀玉 1個<br>銀火竜の剛翼 2個<br>古龍の大宝玉 1個</td>
        </tr>
        <tr>
            <td>反攻珠Ⅱ</td><td>巧撃Lv2</td><td>傀異原珠 5個<br>千刃竜の鏡玉 1個<br>傀異化した凶濃血 6個</td>
        </tr>
        <tr>
            <td>背撃珠Ⅱ</td><td>闇討ちLv2</td><td>傀異原珠 4個<br>朧月の欠片 1個<br>傀異化した凶重牙 6個</td>
        </tr>
        <tr>
            <td>翻異珠Ⅱ</td><td>状態異常確定蓄積Lv2</td><td>傀異原珠 5個<br>霞龍の破傀玉 1個<br>破傀の重龍骨 6個</td>
        </tr>
        <tr>
            <td>強弾珠Ⅱ</td><td>通常弾・連射矢強化Lv2</td><td>傀異原珠 5個<br>紅蓮にゆれる銀殻 2個<br>傀異化した凶殻 6個</td>
        </tr>
        <tr>
            <td>貫通珠Ⅱ</td><td>貫通弾・貫通矢強化Lv2</td><td>傀異原珠 5個<br>月迅竜の重牙 2個<br>傀異化した凶爪 6個</td>
        </tr>
        <tr>
            <td>散弾珠Ⅱ</td><td>散弾・拡散矢強化Lv2</td><td>傀異原珠 5個<br>金火竜の秘棘 2個<br>傀異化した凶殻 6個</td>
        </tr>
        <tr>
            <td>強弓珠</td><td>弓溜め段階解放Lv1</td><td>明王原珠 2個<br>傀異化した骨 3個<br>古龍の大宝玉 1個</td>
        </tr>
        <tr>
            <td>砲術珠Ⅱ</td><td>砲術Lv2</td><td>明王原珠 6個<br>凝縮された爆腺液 2個<br>怨虎竜の厚鱗 2個<br>真紅蓮石 3個</td>
        </tr>
        <tr>
            <td>増弾珠Ⅱ</td><td>砲弾装填Lv2</td><td>明王原珠 6個<br>天を焦がす銀翼 2個<br>溶翁竜の天鱗 1個</td>
        </tr>
        <tr>
            <td>達芸珠Ⅱ</td><td>達人芸Lv2</td><td>傀異原珠 5個<br>獄炎の厚龍鱗 1個<br>炎王龍の靭尾 1個<br>傀異化した凶骨 7個</td>
        </tr>
        <tr>
            <td>守勢珠Ⅱ</td><td>攻めの守勢Lv2</td><td>傀異原珠 5個<br>紅蓮にゆれる銀殻 5個<br>傀異化した凶厚鱗 3個<br>傀異化した凶重骨 3個</td>
        </tr>
        <tr>
            <td>刃鱗珠Ⅱ</td><td>刃鱗磨きLv2</td><td>明王原珠 5個<br>嵐龍の重殻 3個<br>千刃竜の鏡玉 1個</td>
        </tr>
        <tr>
            <td>剛刃珠Ⅱ</td><td>剛刃研磨Lv2</td><td>明王原珠 4個<br>銀火竜の靭尾 2個<br>千刃竜の断刀角 2個<br>火竜の煌液 1個</td>
        </tr>
        <tr>
            <td>斬鉄珠Ⅱ</td><td>業物Lv2</td><td>明王原珠 6個<br>月迅竜の透刃翼 2個<br>怨虎竜の獄刀殻 2個</td>
        </tr>
        <tr>
            <td>研鋭珠Ⅱ</td><td>研磨術【鋭】Lv2</td><td>傀異原珠 3個<br>千刃竜の閃裂爪 4個<br>傀異化した凶牙 6個</td>
        </tr>
        <tr>
            <td>研磨珠Ⅲ</td><td>砥石使用高速化Lv3</td><td>明王原珠 3個<br>千刃竜の断刀角 1個<br>鎌鼬竜の砥刃尾 1個<br>傀異化した血 7個</td>
        </tr>
        <tr>
            <td>翔蟲珠Ⅱ</td><td>翔蟲使いLv2</td><td>明王原珠 6個<br>熾妃蜘蛛の艶絹糸 2個<br>モンスターの特濃 2個<br>傀異化した牙 7個</td>
        </tr>
        <tr>
            <td>鬼火珠Ⅱ</td><td>鬼火纏Lv2</td><td>明王原珠 6個<br>怨虎竜の魂魄結晶 5個<br>妃蜘蛛の爛灯腹 2個<br>傀異化した牙 7個</td>
        </tr>
        <tr>
            <td>跳躍珠Ⅱ</td><td>回避距離UPLv2</td><td>瑠璃原珠 8個<br>天狗獣の豪腕羽 2個<br>大獣玉 1個</td>
        </tr>
        <tr>
            <td>回避珠Ⅱ</td><td>回避性能Lv2</td><td>瑠璃原珠 8個<br>飛雷竜の厚毛皮 3個<br>幻鳥竜玉 1個</td>
        </tr>
        <tr>
            <td>泡沫珠Ⅱ</td><td>泡沫の舞Lv2</td><td>明王原珠 4個<br>泡立つ濃滑液 2個<br>極上黒真珠 1個<br>傀異化した鱗 7個</td>
        </tr>
        <tr>
            <td>運気珠Ⅱ</td><td>幸運Lv2</td><td>明王原珠 6個<br>霞龍の特上皮 5個<br>泥翁竜の天鱗 1個<br>傀異化した牙 7個</td>
        </tr>
        <tr>
            <td>加護珠Ⅱ</td><td>精霊の加護Lv2</td><td>瑠璃原珠 6個<br>海綿質の厚皮 2個<br>ねじれた重怪骨 3個</td>
        </tr>
        <tr>
            <td>茸好珠Ⅱ</td><td>キノコ大好きLv2</td><td>明王原珠 6個<br>轟竜の重牙 4個<br>虹盛り茸 2個<br>傀異化した爪 7個</td>
        </tr>
        <tr>
            <td>体術珠Ⅱ</td><td>体術Lv2</td><td>明王原珠 4個<br>赤甲獣の重殻 3個<br>オルギィの厚鱗 3個<br>傀異化した甲殻 7個</td>
        </tr>
        <tr>
            <td>強走珠Ⅱ</td><td>ランナーLv2</td><td>明王原珠 4個<br>超高圧電甲 3個<br>溶翁竜の剛靭髭 2個<br>傀異化した鱗 7個</td>
        </tr>
        <tr>
            <td>早気珠Ⅱ</td><td>スタミナ急速回復Lv2</td><td>明王原珠 4個<br>泥翁竜の仙人髭 3個<br>イカしたトサカ 2個<br>傀異化した甲殻 7個</td>
        </tr>
        <tr>
            <td>昂揚珠Ⅱ</td><td>強化持続Lv2</td><td>明王原珠 6個<br>緋天狗獣の豪剛毛 3個<br>炎熱の溶岩泥土 2個<br>傀異化した牙 7個</td>
        </tr>
        <tr>
            <td>心眼珠Ⅱ</td><td>心眼Lv2</td><td>明王原珠 4個<br>雪鬼獣の特上皮 2個<br>泡狐竜の紫剛毛 3個<br>傀異化した鱗 7個</td>
        </tr>
        <tr>
            <td>重撃珠Ⅱ</td><td>破壊王Lv2</td><td>明王原珠 4個<br>銀火竜の重殻 2個<br>雷狼竜の剛爪 1個</td>
        </tr>
        <tr>
            <td>煽衛珠Ⅱ</td><td>煽衛Lv2</td><td>傀異原珠 4個<br>棘茶竜の天鱗 1個<br>破傀の龍血 6個</td>
        </tr>
        <tr>
            <td>射法珠Ⅱ</td><td>弾導強化Lv2</td><td>明王原珠 6個<br>雷狼竜の剛爪 3個<br>奈落の龍鱗 2個<br>傀異化した爪 7個</td>
        </tr>
        <tr>
            <td>節弾珠Ⅱ</td><td>弾丸節約Lv2</td><td>明王原珠 6個<br>刻冥の龍血玉 1個<br>嵐龍の厚飛膜 3個</td>
        </tr>
        <tr>
            <td>点射珠Ⅲ</td><td>ブレ抑制Lv</td><td>明王原珠 3個<br>紅蓮にゆれる銀殻 2個<br>火竜の剛翼 1個</td>
        </tr>
        <tr>
            <td>巧緻珠Ⅱ</td><td>チューンアップLv2</td><td>傀異原珠 5個<br>妃蜘蛛の重鉤棘 2個<br>棘茶竜の秘棘 2個<br>傀異化した凶重殻 6個</td>
        </tr>
        <tr>
            <td>特射珠Ⅱ</td><td>特殊射撃強化Lv2</td><td>明王原珠 6個<br>紅蓮にゆれる銀殻 3個<br>泥翁竜の剛爪 1個</td>
        </tr>
        <tr>
            <td>装填珠Ⅱ</td><td>装填拡張Lv2</td><td>明王原珠 6個<br>天空の龍神玉 1個<br>冰龍の剛翼 3個</td>
        </tr>
        <tr>
            <td>速納珠Ⅱ</td><td>納刀術Lv2</td><td>明王原珠 4個<br>金火竜の厚翼膜 2個<br>飛雷竜の剛爪 1個<br>天狗獣の剛爪 1個</td>
        </tr>
        <tr>
            <td>速変珠Ⅱ</td><td>高速変形Lv2</td><td>明王原珠 5個<br>天を焦がす銀翼 2個<br>氷狼竜の剛朱爪 2個</td>
        </tr>
        <tr>
            <td>耐衝珠Ⅲ</td><td>ひるみ軽減Lv3</td><td>金剛原珠 5個<br>剛纏獣の厚鱗 2個<br>氷狼竜の剛朱爪 1個<br>傀異化した竜骨 7個</td>
        </tr>
        <tr>
            <td>耐振珠Ⅱ</td><td>耐震Lv2</td><td>金剛原珠 5個<br>牢固な重骨 3個<br>河童蛙の苔重甲 2個<br>傀異化した竜骨 7個</td>
        </tr>
        <tr>
            <td>抜刀珠Ⅱ</td><td>抜刀術【技】Lv2</td><td>明王原珠 6個<br>堅牢なねじれた角 3個<br>琥珀色の重牙 2個<br>傀異化した爪 7個</td>
        </tr>
        <tr>
            <td>抜打珠Ⅱ</td><td>抜刀術【力】Lv2</td><td>瑠璃原珠 8個<br>人魚竜の重殻 2個<br>大竜玉 1個</td>
        </tr>
        <tr>
            <td>短縮珠Ⅱ</td><td>集中Lv2</td><td>瑠璃原珠 6個<br>赤甲獣の大蛇腹甲 2個<br>いにしえの巨龍骨 1個</td>
        </tr>
        <tr>
            <td>KO珠Ⅱ</td><td>KO術Lv2</td><td>明王原珠 4個<br>蛮顎竜の重鼻骨 2個<br>岩竜の天殻 1個<br>傀異化した甲殻 7個</td>
        </tr>
        <tr>
            <td>奪気珠Ⅲ</td><td>スタミナ奪取Lv3</td><td>明王原珠 3個<br>土砂竜の剛爪 2個<br>傀異化した竜骨 7個</td>
        </tr>
        <tr>
            <td>地学珠Ⅲ</td><td>地質学Lv3</td><td>瑠璃原珠 6個<br>掻鳥の厚鱗 3個<br>埋もれた古龍骨骸 2個</td>
        </tr>
        <tr>
            <td>節食珠Ⅲ</td><td>満足感Lv3</td><td>瑠璃原珠 8個<br>怪しげな重牙 2個<br>穿つ巨大クチバシ 1個</td>
        </tr>
        <tr>
            <td>早食珠Ⅱ</td><td>早食いLv2</td><td>瑠璃原珠 6個<br>河童蛙の剛嘴 2個<br>ランポスの厚鱗 3個</td>
        </tr>
        <tr>
            <td>治癒珠Ⅱ</td><td>体力回復量UPLv2</td><td>瑠璃原珠 6個<br>草食種の大重骨 2個<br>極上黒真珠 1個</td>
        </tr>
        <tr>
            <td>早復珠Ⅲ</td><td>回復速度Lv3</td><td>瑠璃原珠 6個<br>土砂竜の重甲 3個<br>咬魚の厚皮 2個</td>
        </tr>
        <tr>
            <td>爆師珠Ⅲ</td><td>ボマーLv3</td><td>瑠璃原珠 6個<br>狸獣の発火液 1個<br>業炎袋 3個</td>
        </tr>
        <tr>
            <td>盤石珠Ⅲ</td><td>顕如盤石Lv3</td><td>傀異原珠 4個<br>金火竜の秘棘 3個<br>傀異化した凶剛翼 6個</td>
        </tr>
        <tr>
            <td>壁走珠Ⅲ</td><td>壁面移動Lv3</td><td>瑠璃原珠 8個<br>怪しげな重牙 2個<br>極上の腹袋 3個</td>
        </tr>
        <tr>
            <td>防音珠Ⅱ</td><td>耳栓Lv2</td><td>明王原珠 6個<br>怨虎竜の重殻 3個<br>白兎獣の地獄耳 2個<br>傀異化した牙 7個</td>
        </tr>
        <tr>
            <td>防御珠Ⅴ</td><td>防御Lv5</td><td>明王原珠 3個<br>太古龍骨 3個<br>角竜の重甲 2個<br>覇王の証 1個</td>
        </tr>
        <tr>
            <td>友愛珠Ⅳ</td><td>広域化Lv4</td><td>明王原珠 2個<br>氷人魚竜の凍爪 2個<br>迅竜の厚鱗 4個<br>重竜骨 6個</td>
        </tr>
        <tr>
            <td>防風珠Ⅲ</td><td>風圧耐性Lv3</td><td>瑠璃原珠 6個<br>河童蛙の苔重甲 2個<br>ランゴスタの斬羽 2個</td>
        </tr>
        <tr>
            <td>無食珠Ⅲ</td><td>腹減り耐性Lv3</td><td>瑠璃原珠 6個<br>河童蛙の剛嘴 1個<br>盾蟹の極小殻 5個</td>
        </tr>
        <tr>
            <td>植学珠Ⅲ</td><td>植生学Lv3</td><td>瑠璃原珠 6個<br>鎌鼬竜の厚毛 3個</td>
        </tr>
        <tr>
            <td>持続珠Ⅲ</td><td>アイテム使用強化Lv3</td><td>瑠璃原珠 6個<br>水獣の厚鱗 2個</td>
        </tr>
        <tr>
            <td>合気珠Ⅱ</td><td>合気Lv2</td><td>明王原珠 6個<br> 背反する双逆鱗 1個</td>
        </tr>
        <tr>
            <td>強壁珠Ⅱ</td><td>ガード強化Lv2</td><td>瑠璃原珠 8個<br>岩竜の重胸殻 3個</td>
        </tr>
    </table>
    </div>


</article>

<aside id='submenu'>
</aside>

<aside id="topic">
</aside>

</main> 
{% endblock %}