<div class="row my-4">
    <div class="col-md-8">
        {% for post in post_data %}
            <div class="card mb-4">
                {% if post.picture %}
                    <img src="{{ post.picture.url }}" alt="" class="card-img-top index-img">
                {% endif %}    
                <div class="card-body">
                    <p class="card-text">{{post.content}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created }} by {{ post.user }}      No.{{post.pk}}
                </div>
                <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
            </div>
        {% endfor %} 
    </div>
</div>
{% for post in post_data %}
    <a class="card mb-3"   href="{% url 'post_detail' post.pk %}">
        <div class="row g-0">
            <div class="col-md-4">
            {% if post.picture %}
                <img src="{{ post.picture.url }}" alt="" class="img-fluid rounded-start">
            {% endif %}   
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-text">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text">
                    <small class="text-muted">{{ post.created }} by {{ post.user }}</small>
                    </p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% for post in post_data %}
    {% if post.picture %}
        <img src="{{ post.picture.url }}" alt="" align ="left" class='form_img'>
    {% endif %}    
        <P>{{ post.title }}<P>
        <p>{{post.content|truncatechars:200 }}</p>
                
                
    <div class='form-line'>
        {{ post.created }} by {{ post.author }}
    </div>         
{% endfor %} 
<tr>
    <th>最終強化</th><th>性 能</th><th>必要素材</th>
</tr>
<tr>
    <td>カムラノ傑大剣</td><td>カムラノ武大剣改<br>【カムラ派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>断頭のシュナイデン</td><td>デューククレイモア<br>【爵銀龍派生】</td><td>怨嗟呻く鎧刀殻 2個<br>爵銀龍の紅血玉 1個</td>
</tr>
<tr>
    <td>ゴシャ!ギガゴズバァ!</td><td>ゴシャガゴズバァ改<br>【雪鬼獣派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>あかねさす紫微両断剣改</td><td>あかねさす紫微両断剣<br>【泡狐竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>ボルボプレッシャー</td><td>ドラグロバスター改<br>【土砂竜派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>轟大剣[大王虎]改</td><td>轟大剣[大王虎]<br>【轟竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>フル・フルミナント改</td><td>フル・フルミナント<br>【奇怪竜派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>ブロワースブレイド</td><td>ヴィンゼルブレイド改<br>【鎌鼬竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>咬剣【大蛇頭】</td><td>蛇剣【毒蛇】改<br>【翼蛇竜派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>無明大剣【苦諦】</td><td>暗夜剣【晦冥】改<br>【迅竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>夢魘大剣メロウドロウ改</td><td>夢魘大剣メロウドロウ<br>【人魚竜派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>極光雪剣スノウドロウ</td><td>雪華のスノウドロウ改<br>【氷人魚竜派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>クロームヘブン</td><td>クロームヘル改<br>【鉱石素材派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>霆剣ライゼクス</td><td>啼剣ライゼクス改<br>【電竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>バフォムブラッド</td><td>インフェルノゴート改<br>【火属性派生】</td><td>傀異化した皮 7個<br>メランジェ鉱石 5個</td>
</tr>
<tr>
    <td>毒妖大剣ヒルヴンヘル改</td><td>毒妖大剣ヒルヴンヘル<br>【毒妖鳥派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>暴雪剣グレツァタギオ</td><td>グラシェラシオン改<br>【氷牙竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>氷輪断バデル</td><td>冷たき月の断剣改<br>【氷狼竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>暁光の大剣シルワール</td><td>暁光の大剣シルブラブ改<br>【傘鳥派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>真蛙式・ヨリ斬リ改</td><td>真蛙式・ヨリ斬リ<br>【河童蛙派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>コウリュウノアギト改</td><td>コウリュウノアギト<br>【骨素材派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>グレートシザー</td><td>レッドシザー改<br>【盾蟹派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>キリサキ</td><td>ギザミブレイド改<br>【鎌蟹派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>剛断剣タルタロス改</td><td>剛断剣タルタロス<br>【骨素材派生⓶】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>叛断刀アルザバル</td><td>チェーダアルザバル改<br>【千刃竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>ハイジークリンデ改</td><td>ハイジークリンデ<br>【雌火竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>ローゼンクラフト</td><td>ローゼンブレット改<br>【棘竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>ヴァルトス・レピ改</td><td>ヴァルトス・レピ<br>【泥魚竜派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>吼剣リオレウス</td><td>炎剣リオレウス改<br>【火竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>剛角剣ディアブロス改</td><td>剛角剣ディアブロス<br>【角竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>アヴァロブレイド</td><td>バルバダブレイド改<br>【狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>蛮炎大剣ロギンヘレブ改</td><td>蛮炎大剣ロギンヘレブ<br>【蛮顎竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>真・王牙大剣【一天】</td><td>王牙大剣【黒雷】改<br>【雷狼竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>水剣カタラクドロス改</td><td>水剣カタラクドロス<br>【水獣派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>巨塊大剣ゴルギガス</td><td>ゴルム・ブレイド改<br>【剛纏獣派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>白兎雪断シャーロット</td><td>白兎大剣シャーロット改<br>【白兎獣派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>プライドofドゥーム</td><td>プライドofシャドウ改<br>【黒蝕竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>大毒断マッシュロード</td><td>毒断マッシュローグ改<br>【混沌派生】</td><td>傀異化した血 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>夢蜃大剣ターリアディ</td><td>睡貝大剣ピンクターダ改<br>【アルブーロ派生】</td><td>傀異化した血 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>瞬間レイトウ本マグロ</td><td>レイトウ本マグロ改<br>【カジキマグロ派生】</td><td>傀異化した甲殻 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>忍傘【散竜】改</td><td>忍傘【散竜】<br>【鍛冶屋武器派生】</td><td>傀異化した竜骨 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>キングオブキャット</td><td>カースオブキャット改<br>【アイルー派生】</td><td>傀異化した皮 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>王国騎士大剣フェイス改</td><td>王国騎士大剣フェイス<br>【王国騎士団派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個<br>王国騎士団の証Ⅲ 4個</td>
</tr>
<tr>
    <td>オルドマキナ・GS</td><td>生産<br>【オルドマキナ派生】</td><td>傀異化した牙 3個<br>傀異化した鱗 4個<br>傀異化した竜骨 5個<br>傀異化した皮 6個</td>
</tr>




</table>
<h3 id='w2'>太刀</h3>
<table>
<tr>
    <th>派生先</th><th>派生元</th><th>必要素材</th>
</tr>
<tr>
    <td>カムラノ傑刀</td><td>カムラノ武刀改<br>【カムラ派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>真・王牙刀【天威】</td><td>王牙刀【伏雷】改<br>【雷狼竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>暁光の刺刀シルオーレ</td><td>暁月の刺刀シルコーラ改<br>【傘鳥派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>白兎棘刀イナバ</td><td>白兎刃【氷棘】改<br>【白兎獣派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>護皇刀ゾリドマウア</td><td>インペリアルソードⅢ<br>【両刃刀派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>ボルボベルグブルグ</td><td>ボルボカスティージョ改<br>【土砂竜派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>マカル＝バサル</td><td>タイタンマカエラ改<br>【岩竜派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>Ｄ＝ギィドゥ</td><td>Ｄ＝イアンズ改<br>【泥翁竜派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>キャバル＝Ｙ</td><td>Ｙ＝セン改<br>【溶翁竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>真飛竜刀【アレクス】</td><td>飛竜刀【ペリドート】改<br>【電竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>轟刀【餓虎】改</td><td>轟刀【餓虎】改<br>【轟竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>たまのをの絶佳麗斬刀改</td><td>たまのをの絶佳麗斬刀<br>【泡狐竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>無明刀【空諦】</td><td>夜刀【尖影】改<br>【迅竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>鬼神斬破刀改</td><td>鬼神斬破刀<br>【雷属性派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>ピコ・カトリスセイフ</td><td>ピコ・プリセイフ改<br>【掻鳥派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>六花垂氷丸【瑞雪】</td><td>凍刃【霧花】改<br>【氷属性派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>氷輪刀ルアシェイア</td><td>冷たき月の白刃改<br>【氷狼竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>真飛竜刀【翠緑】改</td><td>真飛竜刀【翠緑】<br>【雌火竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>ローゼンヒンメル</td><td>ローゼンフェーダー改<br>【棘竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>真飛竜刀【緋】</td><td>飛竜刀【楓】改<br>【火竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>骨断刀【カゲタチ】改</td><td>骨断刀【カゲタチ<br>【骨素材派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>叛刃アルナジト</td><td>シミターアルナジト改<br>【千刃竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>黒刀【終ノ型】</td><td>黒刀【零ノ型】改<br>【カンタロス派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>蛮炎刀ロギンソブレ改</td><td>蛮炎刀ロギンソブレ<br>【蛮顎竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>琥牙刃ジャリドファル</td><td>バスティアナサーベル改<br>【氷牙竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>ポイズンディキラ</td><td>ポイズンヘケト改<br>【毒狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>魂縛刀【シラヌイ】</td><td>骨縛刀【カゲヌイ】改<br>【眠狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>飛雷閃刀【鬼討チ】改</td><td>飛雷閃刀【鬼討チ】<br>【骨鎌派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>ヴァルトス・ガラ改</td><td>ヴァルトス・ガラ<br>【泥魚竜派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>ガウシ刀【鹿王角】</td><td>ガウシ刀【鹿大角】改<br>【ガウシカ派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>夢魘刀メロウパウ改</td><td>夢魘刀メロウパウ<br>【人魚竜派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>極光雪刀スノウパウ</td><td>雪華のスノウパウ改<br>【氷人魚竜派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>ヴァッサーファロス改</td><td>ヴァッサーファロス<br>【水獣派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>巨塊刀ゴルティタン</td><td>ゴルム・カッター改<br>【剛纏獣派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>青熊長筆【鮭獣戯画】</td><td>青熊長筆【留跳】改<br>【青熊獣派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>大風鎌刀ボルダス</td><td>風鎌刀ウンギル改<br>【鎌鼬竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>ダークインザダーク改</td><td>ダークインザダーク<br>【骨鎌派生⓶】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>ダイミョウカッター</td><td>クラブカッター改<br>【盾蟹派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>ヒキサキ</td><td>ギザミカッター改<br>【鎌蟹派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>怨毒の大鎌威太刀</td><td>呪毒の大鎌威太刀改<br>【毒属性派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>スティールofジャッジ</td><td>スティールofファクト改<br>【黒蝕竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>災禍鎌ダルクナロス</td><td>禍鎌ヴァルナロス改<br>【デスギア派生】</td><td>傀異化した血 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>継承の宝刀【真カムラ】</td><td>継承の宝刀【カムラ】改<br>【継承の太刀派生】</td><td>傀異化した爪 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>王国騎士太刀ブレイブ改</td><td>王国騎士太刀ブレイブ<br>【王国騎士団派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個<br>王国騎士団の証Ⅲ 4個</td>
</tr>
<tr>
    <td>オルドマキナ・ＬＳ</td><td>生産<br>【オルドマキナ派生】</td><td>傀異化した牙 3個<br>傀異化した甲殻 4個<br>傀異化した竜骨 5個<br>傀異化した皮 6個</td>
</tr>
</table>
<h3 id='w3'>片手剣</h3>
<table>
<tr>
    <th>派生先</th><th>派生元</th><th>必要素材</th>
</tr>
<tr>
    <td>カムラノ傑片刀</td><td>カムラノ武片刃改<br>【カムラ派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>無明刃【道諦】</td><td>闇夜剣【鳥羽】改<br>【迅竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>くれなゐの色天薫風扇改</td><td>くれなゐの色天薫風扇<br>【泡狐竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>護法王・フドウ之天剣</td><td>護法具・伏剣フドウ改<br>【天狗獣派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>緋天之剣・六仙フドウ</td><td>緋天具・伏剣フドウ改<br>【緋天狗獣派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>真・王牙剣【天賊】</td><td>王牙剣【折雷】改<br>【雷狼竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>ダ－ティーグラフ</td><td>ダーティーファニング改<br>【毒狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>水刻ロアルドロス改</td><td>水刻ロアルドロス<br>【水獣派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>巨塊剣ゴルツニート</td><td>ゴルム・ソード改<br>【剛纏獣派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>轟剣【大虎眼】改</td><td>轟剣【大虎眼】<br>【轟竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>アヴァイシュドゼロ</td><td>クリスタリザエッジ改<br>【氷属性派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>氷輪手斧プレリューネ</td><td>冷たき月の手斧改<br>【氷狼竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>アスタロフィレイピア</td><td>サルガナスレイピア改<br>【電竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>エリートダガー</td><td>コマンドダガー改<br>【狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>アガメムノン</td><td>オレステイア改<br>【水属性派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>毒妖剣ヒルブンヒート改</td><td>毒妖剣ヒルブンヒート<br>【毒妖鳥派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>エヴォルイフリート</td><td>イフリートマロウ改<br>【火竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>ネヴァイヴェント</td><td>ナールドグラソン改<br>【氷牙竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>真蛙式・斬リカエシ改</td><td>真蛙式・斬リカエシ<br>【河童蛙派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>ドレッドフルレイザー改</td><td>ドレッドフルレイザー<br>【奇怪竜派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>カノレムダスナイフ</td><td>レムオルニスナイフ改<br>【眠狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>バロングクトット改</td><td>バロングクトット<br>【骨素材派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>デュアルシザー</td><td>デュアルカラペイス改<br>【盾鎌蟹派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>クラリチェレイピア改</td><td>クラリチェレイピア<br>【雌火竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>ローゼンゲダイエン</td><td>ローゼンメッサー改<br>【棘竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>断骨のタバール改</td><td>断骨のタバール<br>【骨素材派生⓶】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>叛牙アルファルド</td><td>ナープアルファルド改<br>【千刃竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>削岩剣ボルボルボ</td><td>ボボルボホームラン改<br>【土砂竜派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>バンジンキョウフ改</td><td>バンジンキョウフ<br>【角竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>蛮炎剣ロギンシーカ改</td><td>蛮炎剣ロギンシーカ<br>【蛮顎竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>ゴシャ！ギガゴザクゥ！</td><td>ゴシャガゴザクゥ改<br>【雪鬼獣派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>ブロワースシックル</td><td>ヴィンゼルシックル改<br>【鎌鼬竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>重嘴剣ビッグビーク</td><td>嘴剣ビッグビル改<br>【溶岩獣派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>セクトトレスブラン</td><td>セクトドスブラン<br>【飛甲虫派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>セクトトレスノワール</td><td>セクトドスノワール<br>【飛甲虫（龍）派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>セクトトレスベルデ</td><td>セクトドスベルデ<br>【飛甲虫（麻痺）派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>セクトトレスジョーヌ</td><td>セクトドスジョーヌ<br>【飛甲虫（雷）派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>セクトトレスルージュ</td><td>セクトドスルージュ<br>【飛甲虫（火）派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>アンクofシーカー</td><td>アンクofチェッカー改<br>【黒蝕竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>夢蜃剣ヴァナーリディ</td><td>睡貝剣ルデテプス改<br>【アルブーロ派生】</td><td>傀異化した血 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>超にゃんにゃんぼう</td><td>にゃんにゃんぼう改<br>【アイルー派生】</td><td>傀異化した皮 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>マスターオブニンジャ</td><td>ハイニンジャソード改<br>【ギルド武器派生】</td><td>傀異化した甲殻 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>王国騎士剣ノーブル改</td><td>王国騎士剣ノーブル<br>【王国騎士団派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個<br>王国騎士団の証Ⅲ 4個</td>
</tr>
<tr>
    <td>オルドマキナ・ＳＳ</td><td>生産<br>【オルドマキナ派生】</td><td>傀異化した爪 3個<br>傀異化した鱗 4個<br>傀異化した竜骨 5個<br>傀異化した皮 6個</td>
</tr>

</table>
<h3 id='w4'>双剣</h3>
<table>
<tr>
    <th>派生先</th><th>派生元</th><th>必要素材</th>
</tr>
<tr>
    <td>カムラノ傑双刃</td><td>カムラノ武双刃改<br>【カムラ派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>Ｄ＝シュレンダ</td><td>Ｄ＝スライサー改<br>【泥翁竜派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>ジオメトル＝Ｙ</td><td>リ＝Ｙ改<br>【溶翁竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>真・王牙双刃【天業】</td><td>王牙双刃【土雷】改<br>【雷狼竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>凍刻みブリザレイド</td><td>フリームブリザード改<br>【氷牙竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>ザ・レジェンド</td><td>ザ・キッド改<br>【毒狗竜派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>血風傷刃フルスカード改</td><td>血風傷刃フルスカード<br>【奇怪竜派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>スーパーセル改</td><td>スーパーセル<br>【鉱石素材派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>轟爪【大虎血】改</td><td>轟爪【大虎血】<br>【轟竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>つるぎたち斎女舞奉双改</td><td>つるぎたち斎女舞奉双<br>【泡狐竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>暁光の双剣シルスラヴ</td><td>暁月の双剣シルフラス改<br>【傘鳥派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>ピコカトリスメリス</td><td>ピコプリメリス改<br>【掻鳥派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>グレイス＝クオーレ</td><td>グレイス＝スピリット改<br>【氷属性派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>氷輪爪フェンガル</td><td>冷たき月の朱爪改<br>【氷狼竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>無明連刃【真諦】</td><td>夜天連刃【黒蝶】改<br>【迅竜派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>終告の双鋸改</td><td>終告の双鋸<br>【雷属性派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>双電刃ココウノリュウ</td><td>双光刃ココウノリュウ改<br>【電竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>青熊双鉞【大江山】</td><td>青熊双鉞【足柄】改<br>【青熊獣派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>蛮炎双剣ロギンクルテ改</td><td>蛮炎双剣ロギンクルテ<br>【蛮顎竜派生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>爪骨双タロンジェミニ改</td><td>爪骨双タロンジェミニ<br>【骨素材派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <td>叛爪アルギエバ</td><td>ザクンアルギエバ改<br>【千刃竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>甲殻剣モノザザミ</td><td>クラブホーン改<br>【盾蟹派生】</td><td>傀異化した血 7個</td>
</tr>
<tr>
    <td>ヤツザキ</td><td>ブレイドエッジ改<br>【鎌蟹派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>双炎刃リュウノツガイ</td><td>双剣リュウノツガイ改<br>【火竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>ローゼンエーアガイツ</td><td>ローゼンツァーン改<br>【棘竜派生】</td><td>傀異化した牙 5個<br>傀異化した鱗 5個</td>
</tr>
<tr>
    <td>ブロス=ヴァンダロス改</td><td>ブロス=ヴァンダロス<br>【角竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個</td>
</tr>
<tr>
    <td>ヴァルトス・オス改</td><td>ヴァルトス・オス<br>【泥魚竜派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>万雷双剣【小夜】改</td><td>万雷双剣【小夜】<br>【飛雷竜生】</td><td>傀異化した鱗 7個</td>
</tr>
<tr>
    <td>焔刃オルファイア</td><td>灼刃ファイアノヴァ改<br>【火属性派生】</td><td>傀異化した皮 7個</td>
</tr>
<tr>
    <td>水裂ドロスドロス改</td><td>水裂ドロスドロス<br>【水獣派生】</td><td>傀異化した竜骨 7個</td>
</tr>
<tr>
    <td>巨塊双剣ゴルゴス</td><td>ゴルム・ゴレム改<br>【剛纏獣派生】</td><td>傀異化した牙 7個</td>
</tr>
<tr>
    <td>夢魘双爪メロウクロウ改</td><td>夢魘双爪メロウクロウ<br>【人魚竜派生】</td><td>傀異化した甲殻 7個</td>
</tr>
<tr>
    <td>極光雪爪スノウクロウ</td><td>雪華のスノウクロウ改<br>【氷人魚竜派生】</td><td>傀異化した爪 7個</td>
</tr>
<tr>
    <td>ラヴィナサスペンディ</td><td>スノウジェミニ改<br>【派生】</td><td>傀異化した骨 7個</td>
</tr>
<tr>
    <th>クロウofキャリアー</th><th>クロウofリッパー改<br>【黒蝕竜派生】</th><th>傀異化した牙 5個<br>傀異化した甲殻 5個</th>
</tr>
<tr>
    <td>肉球乱舞爪</td><td>レイジネイルー改<br>【アイルー派生】</td><td>傀異化した皮 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>エレジェント・ジェリィ</td><td>ゴーリィジェリィ改<br>【メデュレト派生】</td><td>傀異化した爪 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>双顎剣ギラロワーガ</td><td>双曲剣ロワーガ改<br>【ロワーガ派生】</td><td>傀異化した鱗 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>セイントエスパーダ</td><td>ホーリーセーバー改<br>【ギルド武器派生】</td><td>傀異化した爪 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>アウディティオ・グラム</td><td>フォルティスグラム改<br>【ギルド武器⓶派生】</td><td>傀異化した牙 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>忍団子【睡蜜玉】極</td><td>忍団子【睡蜜玉】絶<br>【鍛冶屋武器派生】</td><td>傀異化した皮 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>長ノ双刀【不限】改</td><td>長ノ双刀【不限】<br>【長ノ太刀派生】</td><td>傀異化した甲殻 7個<br>傀異調査チケット 1個</td>
</tr>
<tr>
    <td>王国騎士双剣ウィル改</td><td>王国騎士双剣ウィル<br>【王国騎士団派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個<br>王国騎士団の証Ⅲ 4個</td>
</tr>
<tr>
    <td>オルドマキナ・ＤＢ</td><td>生産<br>【オルドマキナ派生】</td><td>傀異化した爪 3個<br>傀異化した甲殻 4個<br>傀異化した竜骨 5個<br>傀異化した骨 6個</td>
</tr>
</table>
<h3 id='w5'>ハンマー</h3>
<table>
<tr>
    <th>派生先</th><th>派生元</th><th>必要素材</th>
</tr>
<tr>
    <td>カムラノ傑鉤鎚</td><td>カムラノ武鉤鎚改<br>【カムラ派生】</td><td>傀異化した皮 7個<br>[骨ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>おきつなみ撓山光明鎚改</td><td>おきつなみ撓山光明鎚<br>【泡狐竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個<br>[泡狐竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>甲堅鎚ゴグマダグマ改</td><td>甲堅鎚ゴグマダグマ<br>【赤甲獣派生】</td><td>傀異化した骨 7個<br>[赤甲獣ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>Ｄ＝クラッシャー</td><td>Ｄ＝バースト改<br>【泥翁竜派生】</td><td>傀異化した爪 7個<br>[泥翁竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>ピュリフ＝Ｙ</td><td>Ｙ＝レン改<br>【溶翁竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個<br>[溶翁竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>剛力王・コンゴウ之天槌</td><td>剛力具・鈷槌コンゴウ改<br>【天狗獣派生】</td><td>傀異化した血 7個<br>[天狗獣ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>緋天之槌・六仙コンゴウ</td><td>緋天具・鈷槌コンゴウ改<br>【緋天狗獣派生】</td><td>傀異化した甲殻 7個<br>[緋天狗獣ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>ヘヴィイロード</td><td>ダーティイロード改<br>【毒狗竜派生】</td><td>傀異化した皮 7個<br>[毒狗竜ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>バーストリボルバー</td><td>ブレイクリボルバー改<br>【火属性派生】</td><td>傀異化した皮 7個<br>[鉱石ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>電竜砕ゼクピスティア</td><td>電竜砕ゼクスムマ改<br>【電竜派生】</td><td>傀異化した爪 5個<br>傀異化した鱗 5個<br>[電竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>ハイパーノヴァ改</td><td>ハイパーノヴァ<br>【雷属性派生】</td><td>傀異化した竜骨 7個<br>真紅蓮石 5個<br>[鉱石ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>轟槌【大虎丸】改</td><td>轟槌【大虎丸】<br>【轟竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個<br>[轟竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>蛮炎槌ロギンスフィリ改</td><td>蛮炎槌ロギンスフィリ<br>【蛮顎竜派生】</td><td>傀異化した鱗 7個<br>[蛮顎竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>アヴァランチリッター</td><td>アイシクルブランシュ改<br>【氷牙竜派生】</td><td>傀異化した牙 7個<br>氷牙竜ＭＲ素材 30pts</td>
</tr>
<tr>
    <td>ピコ・カトリスリーレ</td><td>ピコ・プリリーレ改<br>【掻鳥派生】</td><td>傀異化した皮 7個<br>[掻鳥ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>大鬼鉄ノ尊</td><td>鬼鉄ノ尊改<br>【麻痺属性派生】</td><td>傀異化した竜骨 7個<br>[モンスターＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>ステグマ【参之型】</td><td>ステグマ【弐之型】改<br>【青熊獣派生】</td><td>傀異化した骨 7個<br>[青熊獣ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>夢魘鎚メロウブロウ改</td><td>夢魘鎚メロウブロウ<br>【人魚竜派生】</td><td>傀異化した甲殻 7個<br>[人魚竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>極光雪鎚スノウブロウ</td><td>雪華のスノウブロウ改<br>【氷人魚竜派生】</td><td>傀異化した爪 7個<br>[氷人魚竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>雷鎚フルフルスイング改</td><td>雷鎚フルフルスイング<br>【奇怪竜派生】</td><td>傀異化した血 7個<br>[奇怪竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>ニヴルヘイム改</td><td>氷鉄ハバク<br>【氷属性派生】</td><td>傀異化した血 7個<br>[鉱石ＭＲ素材 20pts]</td>
</tr>
<tr>
    <td>氷輪砕ボルムタル</td><td>冷たき月の破鎚改<br>【氷狼竜派生】</td><td>傀異化した爪 5個<br>傀異化した甲殻 5個<br>[氷狼竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>破鎚シャッター改</td><td>破鎚シャッター<br>【角竜派生】</td><td>傀異化した牙 5個<br>傀異化した甲殻 5個<br>[角竜ＭＲ素材 30pts]</td>
</tr>
<tr>
    <td>アトラスモール改</td><td>アトラスモール<br>【骨素材派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ヘシオリ</td><td>ギザミヘッドアクス改<br>【鎌蟹派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>叛鎚アルグル</td><td>マトラカアルグル改<br>【千刃竜派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>毒妖鎚ヒルヴンピーク改</td><td>毒妖鎚ヒルヴンピーク<br>【毒妖鳥派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ローゼンウンヴェッタ</td><td>ローゼンハンマー改<br>【棘竜派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ゴシャギガゴベチャ</td><td>ゴシャガゴベチャ改<br>【雪鬼獣派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>真・王牙鎚【破天】</td><td>王牙鎚【大雷】改<br>【雷狼竜派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>六翼蛇王鎚エインガナ</td><td>六翼蛇鎚エキドナ改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ローレライ改</td><td>ローレライ<br>【水獣派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>巨塊鎚ゴルニル</td><td>ゴルム・ガベル<br>【剛纏獣派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ブロワースハンマー</td><td>ヴィンゼルハンマー改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>無名鎚【中諦】</td><td>夜行槌【黒染】改<br>【迅竜派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ボルボモメンタム</td><td>ボルボチャージャ改<br>【土砂竜派生】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>パワーofエンミティ</td><td>パワーofグレア改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>一心不卵槌ガーグァ</td><td>卵槌ガーグァ改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>ZZZベア</td><td>グーグーベア改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>災禍鎚ダルカラモルテ</td><td>禍鎚ヤドラモルテ改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>霊槌ズッカボチャ</td><td>霊槌カボチャ王改<br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td>王国騎士大鎚パワー改</td><td>王国騎士大鎚パワー<br>【】</td><td>傀異化した 個<br>傀異化した 個<br></td>
</tr>
<tr>
    <td>オルドマキナ・Ｈ</td><td>生産<br>【オルドマキナ派生】</td><td>傀異化した 3個<br>傀異化した 4個<br>傀異化した 5個<br>傀異化した 6個</td>
</tr>



</table>
<h3 id='w6'>狩猟笛</h3>
<table>
<tr>
    <th></th><th></th><th></th>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>
<tr>
    <td></td><td><br>【】</td><td>傀異化した 個</td>
</tr>