{% extends 'mhsb/base.html'%}
{% load static %}

{% block content %}
<main role='main' id='main'>
    <article id='content'>
        <div class='list-title'>
            <h3 id='w1'>大剣</h3>
            <table>
                <tr>
                    <th>最終強化</th><th>性 能</th>
                </tr>
                <tr>
                    <td>カムラノ傑大剣</td><td></td>
                </tr>
                <tr>
                    <td>断頭のシュナイデン</td><td></td>
                </tr>
                <tr>
                    <td>ゴシャ!ギガゴズバァ!</td><td></td>
                </tr>
                <tr>
                    <td>あかねさす紫微両断剣改</td><td></td>
                </tr>
                <tr>
                    <td>ボルボプレッシャー</td><td></td>
                </tr>
                <tr>
                    <td>轟大剣[大王虎]改</td><td></td>
                </tr>
                <tr>
                    <td>フル・フルミナント改</td><td></td>
                </tr>
                <tr>
                    <td>ブロワースブレイド</td><td></td>
                </tr>
                <tr>
                    <td>咬剣【大蛇頭】</td><td></td>
                </tr>
                <tr>
                    <td>無明大剣【苦諦】</td><td></td>
                </tr>
                <tr>
                    <td>夢魘大剣メロウドロウ改</td><td></td>
                </tr>
                <tr>
                    <td>極光雪剣スノウドロウ</td><td></td>
                </tr>
                <tr>
                    <td>クロームヘブン</td><td></td>
                </tr>
                <tr>
                    <td>霆剣ライゼクス</td><td></td>
                </tr>
                <tr>
                    <td>バフォムブラッド</td><td></td>
                </tr>
                <tr>
                    <td>毒妖大剣ヒルヴンヘル改</td><td>
                </tr>
                <tr>
                    <td>暴雪剣グレツァタギオ</td><td></td>
                </tr>
                <tr>
                    <td>氷輪断バデル</td><td></td>
                </tr>
                <tr>
                    <td>暁光の大剣シルワール</td><td></td>
                </tr>
                <tr>
                    <td>真蛙式・ヨリ斬リ改</td><td></td>
                </tr>
                <tr>
                    <td>コウリュウノアギト改</td><td></td>
                </tr>
                <tr>
                    <td>グレートシザー</td><td></td>
                </tr>
                <tr>
                    <td>キリサキ</td><td></td>
                </tr>
                <tr>
                    <td>剛断剣タルタロス改</td><td></td>
                </tr>
                <tr>
                    <td>叛断刀アルザバル</td><td></td>
                </tr>
                <tr>
                    <td>ハイジークリンデ改</td><td></td>
                </tr>
                <tr>
                    <td>ローゼンクラフト</td><td></td>
                </tr>
                <tr>
                    <td>ヴァルトス・レピ改</td><td></td>
                </tr>
                <tr>
                    <td>吼剣リオレウス</td><td></td>
                </tr>
                <tr>
                    <td>剛角剣ディアブロス改</td><td></td>
                </tr>
                <tr>
                    <td>アヴァロブレイド</td><td></td>
                </tr>
                <tr>
                    <td>蛮炎大剣ロギンヘレブ改</td><td></td>
                </tr>
                <tr>
                    <td>真・王牙大剣【一天】</td><td></td>
                </tr>
                <tr>
                    <td>水剣カタラクドロス改</td><td></td>
                </tr>
                <tr>
                    <td>巨塊大剣ゴルギガス</td><td></td>
                </tr>
                <tr>
                    <td>白兎雪断シャーロット</td><td></td>
                </tr>
                <tr>
                    <td>プライドofドゥーム</td><td></td>
                </tr>
                <tr>
                    <td>大毒断マッシュロード</td><td></td>
                </tr>
                <tr>
                    <td>夢蜃大剣ターリアディ</td><td></td>
                </tr>
                <tr>
                    <td>瞬間レイトウ本マグロ</td><td></td>
                </tr>
                <tr>
                    <td>忍傘【散竜】改</td><td></td>
                </tr>
                <tr>
                    <td>キングオブキャット</td><td></td>
                </tr>
                <tr>
                    <td>王国騎士大剣フェイス改</td><td></td>
                </tr>
                <tr>
                    <td>オルドマキナ・GS</td><td></td>
                </tr>

                


            </table>
            <h3 id='w2'>太刀</h3>
            <table>
                <tr>
                    <th>最終強化</th><th>性能</th>
                </tr>
                <tr>
                    <td>カムラノ傑刀</td>
                </tr>
                <tr>
                    <td>裂空のフリューゲル</td>
                </tr>
                <tr>
                    <td>真・王牙刀【天威】</td>
                </tr>
                <tr>
                    <td>暁光の刺刀シルオーレ</td>
                </tr>
                <tr>
                    <td>白兎棘刀イナバ</td>
                </tr>
                <tr>
                    <td>護皇刀ゾリドマウア</td>
                </tr>
                <tr>
                    <td>ボルボベルグブルグ</td>
                </tr>
                <tr>
                    <td>マカル＝バサル</td>
                </tr>
                <tr>
                    <td>Ｄ＝ギィドゥ</td>
                </tr>
                <tr>
                    <td>キャバル＝Ｙ</td>
                <tr>
                    <td>真飛竜刀【アレクス】</td>
                </tr>
                <tr>
                    <td>轟刀【餓虎】改</td>
                </tr>
                <tr>
                    <td>たまのをの絶佳麗斬刀改</td>
                </tr>
                <tr>
                    <td>無明刀【空諦】</td>
                </tr>
                <tr>
                    <td>鬼神斬破刀改</td>
                </tr>
                <tr>
                    <td>ピコ・カトリスセイフ</td>
                </tr>
                <tr>
                    <td>六花垂氷丸【瑞雪】</td>
                </tr>
                <tr>
                    <td>氷輪刀ルアシェイア</td>
                </tr>
                <tr>
                    <td>真飛竜刀【翠緑】改</td>
                </tr>
                <tr>
                    <td>ローゼンヒンメル</td>
                </tr>
                <tr>
                    <td>真飛竜刀【緋】</td>
                </tr>
                <tr>
                    <td>骨断刀【カゲタチ】改</td>
                </tr>
                <tr>
                    <td>叛刃アルナジト</td>
                </tr>
                <tr>
                    <td>黒刀【終ノ型】</td>
                </tr>
                <tr>
                    <td>蛮炎刀ロギンソブレ改</td>
                </tr>
                <tr>
                    <td>琥牙刃ジャリドファル</td>
                </tr>
                <tr>
                    <td>ポイズンディキラ</td>
                </tr>
                <tr>
                    <td>魂縛刀【シラヌイ】</td>
                </tr>
                <tr>
                    <td>飛雷閃刀【鬼討チ】改</td>
                </tr>
                <tr>
                    <td>ヴァルトス・ガラ改</td>
                </tr>
                <tr>
                    <td>ガウシ刀【鹿王角】</td>
                </tr>
                <tr>
                    <td>夢魘刀メロウパウ改</td>
                </tr>
                <tr>
                    <td>極光雪刀スノウパウ</td>
                </tr>
                <tr>
                    <td>ヴァッサーファロス改</td>
                </tr>
                <tr>
                    <td>巨塊刀ゴルティタン</td>
                </tr>
                <tr>
                    <td>青熊長筆【鮭獣戯画】</td>
                </tr>
                <tr>
                    <td>大風鎌刀ボルダス</td>
                </tr>
                <tr>
                    <td>ダークインザダーク改</td>
                </tr>
                <tr>
                    <td>ダイミョウカッター</td>
                </tr>
                <tr>
                    <td>ヒキサキ</td>
                </tr>
                <tr>
                    <td>怨毒の大鎌威太刀</td>
                </tr>
                <tr>
                    <td>鎧怨鬼刀アーガーラ</td>
                </tr>
                <tr>
                    <td>スティールofジャッジ</td>
                </tr>
                <tr>
                    <td>THEディカローグ</td>
                </tr>
                <tr>
                    <td>カオスorロウ</td>
                </tr>
                <tr>
                    <td>大鬼薙刀【羅刹】</td>
                </tr>
                <tr>
                    <td>鬼神薙刀【阿修羅】</td>
                </tr>
                <tr>
                    <td>神斬・風雲滅裂</td>
                </tr>
                <tr>
                    <td>神斬・雷渦滅裂</td>
                </tr>
                <tr>
                    <td>爆炎刀バゼルプロジオ</td>
                </tr>
                <tr>
                    <td>ダオラ＝ストーム</td>
                </tr>
                <tr>
                    <td>炎帝王刀【蜃気楼】</td>
                </tr>
                <tr>
                    <td>エスペイズム</td>
                </tr>
                <tr>
                    <td>災禍鎌ダルクナロス</td>
                </tr>
                <tr>
                    <td>継承の宝刀【真カムラ】</td>
                </tr>
                <tr>
                    <td>王国騎士太刀ブレイブ改</td>
                </tr>
                <tr>
                    <td>オルドマキナ・ＬＳ</td>
                </tr>
            </table>
            <h3 id='w3'>片手剣</h3>
            <table>
                <tr>
                    <th>最終強化</th><th>性能</th>
                </tr>
                <tr>
                    <td>カムラノ傑片刀</td>
                </tr>
                <tr>
                    <td>無明刃【道諦】</td>
                </tr>
                <tr>
                    <td>くれなゐの色天薫風扇改</td>
                </tr>
                <tr>
                    <td>護法王・フドウ之天剣</td>
                </tr>
                <tr>
                    <td>緋天之剣・六仙フドウ</td>
                </tr>
                <tr>
                    <td>真・王牙剣【天賊】</td>
                </tr>
                <tr>
                    <td>ダ－ティーグラフ</td>
                </tr>
                <tr>
                    <td>水刻ロアルドロス改</td>
                </tr>
                <tr>
                    <td>巨塊剣ゴルツニート</td>
                </tr>
                <tr>
                    <td>轟剣【大虎眼】改</td>
                </tr>
                <tr>
                    <td>アヴァイシュドゼロ</td>
                </tr>
                <tr>
                    <td>氷輪手斧プレリューネ</td>
                </tr>
                <tr>
                    <td>アスタロフィレイピア</td>
                </tr>
                <tr>
                    <td>エリートダガー</td>
                </tr>
                <tr>
                    <td>アガメムノン</td>
                </tr>
                <tr>
                    <td>毒妖剣ヒルブンヒート改</td>
                </tr>
                <tr>
                    <td>エヴォルイフリート</td>
                </tr>
                <tr>
                    <td>ネヴァイヴェント</td>
                </tr>
                <tr>
                    <td>真蛙式・斬リカエシ改</td>
                </tr>
                <tr>
                    <td>ドレッドフルレイザー改</td>
                </tr>
                <tr>
                    <td>カノレムダスナイフ</td>
                </tr>
                <tr>
                    <td>バロングクトット改</td>
                </tr>
                <tr>
                    <td>デュアルシザー</td>
                </tr>
                <tr>
                    <td>クラリチェレイピア改</td>
                </tr>
                <tr>
                    <td>ローゼンゲダイエン</td>
                </tr>
                <tr>
                    <td>断骨のタバール改</td>
                </tr>
                <tr>
                    <td>叛牙アルファルド</td>
                </tr>
                <tr>
                    <td>削岩剣ボルボルボ</td>
                </tr>
                <tr>
                    <td>バンジンキョウフ改</td>
                </tr>
                <tr>
                    <td>蛮炎剣ロギンシーカ改</td>
                </tr>
                <tr>
                    <td>ゴシャ！ギガゴザクゥ！</td>
                </tr>
                <tr>
                    <td>ブロワースシックル</td>
                </tr>
                <tr>
                    <td>重嘴剣ビッグビーク</td>
                </tr>
                <tr>
                    <td>セクトトレスブラン</td>
                </tr>
                <tr>
                    <td>セクトトレスノワール</td>
                </tr>
                <tr>
                    <td>セクトトレスベルデ</td>
                </tr>
                <tr>
                    <td>セクトトレスジョーヌ</td>
                </tr>
                <tr>
                    <td>セクトトレスルージュ</td>
                </tr>
                <tr>
                    <td>アンクofシーカー</td>
                </tr>
                <tr>
                    <td>夢蜃剣ヴァナーリディ</td>
                </tr>
                <tr>
                    <td>超にゃんにゃんぼう</td>
                </tr>
                <tr>
                    <td>マスターオブニンジャ</td>
                </tr>
                <tr>
                    <td>王国騎士剣ノーブル改</td>
                </tr>
                <tr>
                    <td>オルドマキナ・ＳＳ</td>
                </tr>

            </table>
            <h3 id='w4'>双剣</h3>
            <table>
                <tr>
                    <th>最終強化</th><th>性 能</th>
                </tr>
                <tr>
                    <td>カムラノ傑双刃</td>
                </tr>
                <tr>
                    <td>Ｄ＝シュレンダ</td>
                </tr>
                <tr>
                    <td>ジオメトル＝Ｙ</td>
                </tr>
                <tr>
                    <td>真・王牙双刃【天業】</td>
                </tr>
                <tr>
                    <td>凍刻みブリザレイド</td>
                </tr>
                <tr>
                    <td>ザ・レジェンド</td>
                </tr>
                <tr>
                    <td>血風傷刃フルスカード改</td>
                </tr>
                <tr>
                    <td>スーパーセル改</td>
                </tr>
                <tr>
                    <td>轟爪【大虎血】改</td>
                </tr>
                <tr>
                    <td>つるぎたち斎女舞奉双改</td>
                </tr>
                <tr>
                    <td>暁光の双剣シルスラヴ</td>
                </tr>
                <tr>
                    <td>ピコカトリスメリス</td>
                </tr>
                <tr>
                    <td>グレイス＝クオーレ</td>
                </tr>
                <tr>
                    <td>氷輪爪フェンガル</td>
                </tr>
                <tr>
                    <td>無明連刃【真諦】</td>
                </tr>
                <tr>
                    <td>終告の双鋸改</td>
                </tr>
                <tr>
                    <td>双電刃ココウノリュウ</td>
                </tr>
                <tr>
                    <td>青熊双鉞【大江山】</td>
                </tr>
                <tr>
                    <td>蛮炎双剣ロギンクルテ改</td>
                </tr>
                <tr>
                    <td>爪骨双タロンジェミニ改</td>
                </tr>
                <tr>
                    <td>叛爪アルギエバ</td>
                </tr>
                <tr>
                    <td>甲殻剣モノザザミ</td>
                </tr>
                <tr>
                    <td>ヤツザキ</td>
                </tr>
                <tr>
                    <td>双炎刃リュウノツガイ</td>
                </tr>
                <tr>
                    <td>ローゼンエーアガイツ</td>
                </tr>
                <tr>
                    <td>ブロス=ヴァンダロス改</td>
                </tr>
                <tr>
                    <td>ヴァルトス・オス改</td>
                </tr>
                <tr>
                    <td>万雷双剣【小夜】改</td>
                </tr>
                <tr>
                    <td>焔刃オルファイア</td>
                </tr>
                <tr>
                    <td>水裂ドロスドロス改</td>
                </tr>
                <tr>
                    <td>巨塊双剣ゴルゴス</td>
                </tr>
                <tr>
                    <td>夢魘双爪メロウクロウ改</td>
                </tr>
                <tr>
                    <td>極光雪爪スノウクロウ</td>
                </tr>
                <tr>
                    <td>ラヴィナサスペンディ</td>
                </tr>
                <tr>
                    <td>クロウofキャリアー</td>
                </tr>
                <tr>
                    <td>肉球乱舞爪</td>
                </tr>
                <tr>
                    <td>エレジェント・ジェリィ</td>
                </tr>
                <tr>
                    <td>双顎剣ギラロワーガ</td>
                </tr>
                <tr>
                    <td>セイントエスパーダ</td>
                </tr>
                <tr>
                    <td>アウディティオ・グラム</td>
                </tr>
                <tr>
                    <td>忍団子【睡蜜玉】極</td>
                </tr>
                <tr>
                    <td>長ノ双刀【不限】改</td>
                </tr>
                <tr>
                    <td>王国騎士双剣ウィル改</td>
                </tr>
                <tr>
                    <td>オルドマキナ・ＤＢ</td>
                </tr>
            </table>
            <h3 id='w5'>ハンマー</h3>
            <table>
                <tr>
                    <th>最終強化</th><th>性 能</th>
                </tr>
                <tr>
                    <td>カムラノ傑鉤鎚</td>
                </tr>
                <tr>
                    <td>おきつなみ撓山光明鎚改</td>
                </tr>
                <tr>
                    <td>甲堅鎚ゴグマダグマ改</td>
                </tr>
                <tr>
                    <td>Ｄ＝クラッシャー</td>
                </tr>
                <tr>
                    <td>ピュリフ＝Ｙ</td>
                </tr>
                <tr>
                    <td>剛力王・コンゴウ之天槌</td>
                </tr>
                <tr>
                    <td>緋天之槌・六仙コンゴウ</td>
                </tr>
                <tr>
                    <td>ヘヴィイロード</td>
                </tr>
                <tr>
                    <td>バーストリボルバー</td>
                </tr>
                <tr>
                    <td>電竜砕ゼクピスティア</td>
                </tr>
                <tr>
                    <td>ハイパーノヴァ改</td>
                </tr>
                <tr>
                    <td>轟槌【大虎丸】改</td>
                </tr>
                <tr>
                    <td>蛮炎槌ロギンスフィリ改</td>
                </tr>
                <tr>
                    <td></td>
                <tr>
                    <td>ピコ・カトリスリーレ</td>
                </tr>
                <tr>
                    <td>大鬼鉄ノ尊</td>
                </tr>
                <tr>
                    <td>ステグマ【参之型】</td>
                </tr>
                <tr>
                    <td>夢魘鎚メロウブロウ改</td>
                </tr>
                <tr>
                    <td>極光雪鎚スノウブロウ</td>
                </tr>
                <tr>
                    <td>雷鎚フルフルスイング改</td>
                </tr>
                <tr>
                    <td>ニヴルヘイム改</td>
                </tr>
                <tr>
                    <td>氷輪砕ボルムタル</td>
                </tr>
                <tr>
                    <td>破鎚シャッター改</td>
                </tr>
                <tr>
                    <td>アトラスモール改</td>
                </tr>
                <tr>
                    <td>ヘシオリ</td>
               </tr>
                <tr>
                    <td>叛鎚アルグル</td>
                </tr>
                <tr>
                    <td>毒妖鎚ヒルヴンピーク改</td>
                </tr>
                <tr>
                    <td>ローゼンウンヴェッタ</td>
                </tr>
                <tr>
                    <td>ゴシャギガゴベチャ</td>
                </tr>
                <tr>
                    <td>真・王牙鎚【破天】</td>
                </tr>
                <tr>
                    <td>六翼蛇王鎚エインガナ</td>
                </tr>
                <tr>
                    <td>ローレライ改</td>
                </tr>
                <tr>
                    <td>巨塊鎚ゴルニル</td>
                </tr>
                <tr>
                    <td>ブロワースハンマー</td>
                </tr>
                <tr>
                    <td>無名鎚【中諦】</td>
                </tr>
                <tr>
                    <td>ボルボモメンタム</td>
                </tr>
                <tr>
                    <td>パワーofエンミティ</td>
                </tr>
                <tr>
                    <td>一心不卵槌ガーグァ</td>
                </tr>
                <tr>
                    <td>ZZZベア</td>
                </tr>
                <tr>
                    <td>災禍鎚ダルカラモルテ</td>
                </tr>
                <tr>
                    <td>霊槌ズッカボチャ</td>
                </tr>
                <tr>
                    <td>王国騎士大鎚パワー改</td>
                </tr>
                <tr>
                    <td>オルドマキナ・Ｈ</td>
                </tr>
                


            </table>
            <h3 id='w6'>狩猟笛</h3>
            <table>
                <tr>
                    <th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <h3 id='w7'>ランス</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w8'>ガンランス</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w9'>スラッシュアックス</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w10'>チャージアックス</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w11'>操虫棍</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w12'>弓</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w13'>ライトボウガン</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
            <h3 id='w14'>ヘビィボウガン</h3>
            <table>
                <tr>
                    <th></th><th></th><th></th>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </table>
        </div>
    </article>       


<aside id="submenu">

    <div class="subcontents">
        <h3>項目</h3>
        <h4>武器</h4>
        <ul class="subcontents-lists">
            <li><a href='#w1'>大剣</a></li>
            <li><a href=''>太刀</a></li>
            <li><a href=''>片手剣</a></li>
            <li><a href=''>双剣</a></li>
            <li><a href=''>ハンマー</a></li>
            <li><a href=''>狩猟笛</a></li>
            <li><a href=''>ランス</a></li>
            <li><a href=''>ガンランス</a></li>
            <li><a href=''>スラッシュアックス</a></li>
            <li><a href=''>チャージアックス</a></li>
            <li><a href=''>操虫棍</a></li>
            <li><a href=''>弓</a></li>
            <li><a href=''>ライトボウガン</a></li>
            <li><a href=''>ヘビィボウガン</a></li>
        </ul>    
            
    </div>
</aside>
</main>

{% endblock %}