{% extends 'mhsb/base.html'%}
{% load static %}

<aside id="submenu">

    <div class="subcontents">
        <h3>項目</h3>
        <h4>武器</h4>
        <ul class="subcontents-lists">
            <li><a href=''>大剣</a></li>
            <li><a href=''>太刀</a></li>
            <li><a href=''>片手剣</a></li>
            <li><a href=''>双剣</a></li>
            <li><a href=''>ハンマー</a></li>
            <li><a href=''>狩猟笛</a></li>
            <li><a href=''>ランス</a></li>
            <li><a href=''>ガンランス</a></li>
            <li><a href=''>スラッシュアックス</a></li>
            <li><a href=''>チャージアックス</a></li>
            <li><a href=''>操虫棍</a></li>
            <li><a href=''>弓</a></li>
            <li><a href=''>ライトボウガン</a></li>
            <li><a href=''>ヘビィボウガン</a></li>
        </ul>    
            
    </div>
</aside>                